[2019-10-09 23:36] youngbupark opened #2 "Add requirement.txt to install grpcio package"
Need requirement.txt to install grpcio package

[2019-10-17 13:49] amanbha commented on #2
pip install dapr-client will install these dependencies now.

[2019-10-17 13:49] #2 closed

[2019-10-23 23:17] youngbupark opened #9 "Set up GitHub Actions workflow for build and publish pkg"
## Describe the proposal

Set up GitHub Actions workflow for build and publish pkg

* [ ] Create workflow for building pkg
* [ ] Create workflow for publishing pkg

related to #40

[2019-10-24 19:28] rajibmitra commented on #9
@youngbupark  I would like to work on this.

[2019-10-24 19:35] rmitr opened #10 "Add one requirments.txt file in the root of python-sdk"
## Describe the proposal
Add one requirments.txt file in the root of python-sdk
It is required for python pkg installation.

[2019-10-29 03:37] brendandburns commented on #10
Definitely a good idea. We'd love a PR for this, or we'll get around to it soon.  (let us know if you want to send a PR)

Thanks!

[2019-10-29 04:31] rajibmitra commented on #10
I will send a PR soon @brendandburns

[2019-11-06 18:26] yaron2 commented on #10
hey @rajibmitra, are you actively working on this?

[2019-12-01 22:52] artursouza opened #13 "pip for dapr-client still in version 0.1, need to publish 0.2 and then 0.3"
## Expected Behavior

pip install dapr-client should install the latest version (0.2 now)

## Actual Behavior

installs the first version 0.1

## Steps to Reproduce the Problem

pip search dapr-client

or

open https://pypi.org/project/dapr-client/

[2019-12-09 20:48] amanbha commented on #13
0.1 is the latest version, python sdk hasn't been updated yet, to do a next release.

[2019-12-09 20:48] #13 closed

[2020-02-03 20:26] amanbha opened #14 "Update auto-generated python sdk for changes in proto files(updated for multi store feature)"
## Describe the proposal
Update auto-generated sdk for changes in proto files(multi store feature)

[2020-02-07 04:49] #14 closed

[2020-02-17 21:19] thebillkidy opened #16 "Actor Implementation"
I currently do not see a way to implement actor methods, is this already supported in the Python SDK? 😊

[2020-02-17 22:39] thebillkidy opened #17 "Cannot import module "daprclient" in `daprclient_pb2_grpc.py`"
When trying to import `daprclient_pb2_grpc.py` to access the `OnInvoke` method, an error is thrown. Without this, a correct example utilizing the `OnInvoke` method can not be created, disallowing the E2E communication of 2 RPC microservices (client and server).

It seems that on the source repo the following proto files are found:

* https://github.com/dapr/dapr/blob/master/pkg/proto/daprclient/da

[2020-03-02 17:45] thebillkidy opened #20 "Example - Invoke/OnInvoke Method"
## Describe the proposal

Adding an example on how to utilize the OnInvoke method from the proto bindings. This example helps users on how to create a gRPC server that can listen on direct method invocations.

[2020-03-02 18:01] youngbupark commented on #16
No, Dapr core team does not have the official plan to support actor feature in Python SDK now.

But I have spent my own time to add actor feature to python-sdk as a personal project. Again, this is not in the official plan. If you're interested in this work, please look at [my initial PR](https://github.com/dapr/python-sdk/pull/18). There is an example for actor service invocation.

[2020-03-02 18:29] thebillkidy commented on #16
Awesome, thanks a lot! This issue can be closed then

[2020-03-02 18:29] #16 closed

[2020-03-04 00:04] #20 closed

[2020-03-14 18:32] youngbupark opened #22 "Add dev-container for python-sdk dev environment"
## Describe the proposal

Add dev-container for python-sdk dev environment

[2020-03-14 18:32] youngbupark opened #23 "Add state management to python actor-sdk"
## Describe the proposal

Add state management to python actor-sdk

[2020-03-14 18:33] youngbupark opened #24 "Add reminder to actor sdk"
## Describe the proposal

feature branch: https://github.com/dapr/python-sdk/tree/features/actor

Add reminder to actor sdk.

[2020-03-14 18:34] youngbupark opened #25 "Add timer to actor"
## Describe the proposal

feature branch: https://github.com/dapr/python-sdk/tree/features/actor

Add timer to actor sdk.

[2020-04-08 04:08] #22 closed

[2020-04-18 00:22] pruthvidhodda opened #27 "Add a script to generate gRPC client code/stubs from dapr proto files"
## Describe the proposal

Add a script file to generate gRPC client code/stubs from dapr proto files by installing necessary tooling, plugins for python.

[2020-04-19 22:10] databasedav commented on #17
This can be fixed by changing `daprclient` to `dapr` but these files are generated upstream so the issue may be the `protoc` command used to generate them?

[2020-04-21 21:24] youngbupark opened #29 "Protobuf client update for python-sdk"
## Describe the proposal

This is to update protobuf client along with https://github.com/dapr/dapr/issues/1409

[2020-04-22 11:42] thebillkidy commented on #17
Agreed, would love a fix upstream with a pip repo update to be able to access the daprclient. Adding @youngbupark

[2020-04-22 13:16] thebillkidy opened #30 "Add Kubernetes Example"
Add an example for deploying on Kubernetes

[2020-04-22 16:14] youngbupark commented on #17
In this milestone, we've refactored proto files. We will try to fix it in upstream repo.

cc/ @amanbha @yaron2

[2020-04-26 17:40] letmerecall opened #32 "Add a Pubsub Example"
## Proposal
Add an example (similar to `invoke-simple` ) showing pubsub pattern.

## Why to add?
Pubsub is a very essential feature and it's hard to find a template to make a subscriber.

[2020-04-27 05:43] letmerecall opened #34 "Remove extra return statement"
## Description

There is an unnecessary return statement in line 32 of `/invoke-simple/invoke-receiver.py`
https://github.com/dapr/python-sdk/blob/2a6701d0abe9d5fb89bb67e16fda84e845bd063f/examples/invoke-simple/invoke-receiver.py#L32

## How to fix

Removing lines 31-32 will do just fine.

[2020-04-27 17:00] amanbha commented on #34
@letmerecall Would you like to contribute and submit a PR for it?

[2020-04-27 18:04] pruthvidhodda commented on #34
Sorry, this is already being fixed in [this](https://github.com/dapr/python-sdk/pull/28) PR

[2020-04-27 18:15] letmerecall commented on #34
That's great @pruthvidhodda  👍

[2020-04-28 06:11] #29 closed

[2020-04-29 05:15] #34 closed

[2020-04-29 05:17] #32 closed

[2020-05-04 07:33] thebillkidy commented on #30
Hi There, any updates for this one?

[2020-05-04 16:17] youngbupark commented on #30
Sorry for the late response. I added some comments on your PR.

Thanks, young.

[2020-05-06 18:51] youngbupark opened #37 "Improve README to include more detail information"
## Describe the proposal

Improve README.md and convert it to rst format.

related to #40

[2020-05-06 21:57] youngbupark opened #38 "Serialize state value without base64 encoding"
## Describe the proposal

Serialize state value without base64 encoding

[2020-05-11 16:01] #23 closed

[2020-05-11 17:00] youngbupark commented on #10
Fixed by @pruthvidhodda

[2020-05-11 17:00] #10 closed

[2020-05-11 19:08] #25 closed

[2020-05-11 19:08] #24 closed

[2020-05-11 19:08] #38 closed

[2020-05-13 14:28] #30 closed

[2020-05-15 19:49] youngbupark opened #40 "Release dapr-python v0.5.0a0"
## Describe the proposal

This is the release plan to ship dapr-python v0.5.0b.

* Package name: dapr
   - python-sdk includes actor sdk implemenation with the generated proto client so that it makes sense to rename from `dapr-clients` to `dapr`
* Package version: 0.5.0b
* Release work items.
   - [x] Merge features/actor to master
   - [x] Set up CI/CD
   - [x] Improve README.md
   - [ ] validate

[2020-05-15 19:50] youngbupark commented on #40
@msfussell @orizohar @yaron2 @amanbha Please review this release plan and give me any feedbacks.

cc/ @mchmarny

[2020-05-15 19:56] youngbupark opened #41 "Add more comments to codes which allows sphinx to auto-generate python docs."
## Describe the proposal

- [ ] Add more code level comments
- [ ] Generate sphinx docs

related to #40

[2020-05-15 21:37] orizohar commented on #40
A couple of thoughts:
1. For the naming `dapr-python`, if this is a python package, is the suffix redundant? should we perhaps just call it `dapr` or `dapr-sdk`?
2. As discussed offline - since actors are not common in the Python world we need to make sure we provide good links to what is the Actor model for python devs who are new to this.

[2020-05-15 22:26] youngbupark commented on #40
We can call `dapr` I will update it on the plan.

yeah https://github.com/dapr/python-sdk/issues/37 will add the link.

[2020-05-15 22:30] amanbha commented on #40
@youngbupark `dapr` LGTM

[2020-05-16 18:49] letmerecall opened #42 "Update pubsub example as per new proto apis"
## Describe the proposal
Current Pub/Sub example doesn't use update proto APIs. I propose to update the example and adapt it to the changes.

(A PR will follow shortly 😃 )

[2020-05-17 00:28] LMWF opened #44 "Update SDK for activate changes"
Changes are needed in the SDK corresponding to runtime changes here (see bottom of that issue for proposal):
https://github.com/dapr/dapr/issues/1038

Reference for corresponding change in dapr/dotnet-sdk:
https://github.com/dapr/dotnet-sdk/pull/313

[2020-05-18 17:25] #9 closed

[2020-05-18 17:25] #42 closed

[2020-05-18 21:04] youngbupark commented on #40
Merged features/actor to master now.

[2020-05-19 20:43] youngbupark commented on #40
Every build will be published to [dapr-dev](https://pypi.org/project/dapr-dev/). So anyone can install the latest build.

Release build will be [dapr](https://pypi.org/project/dapr). the official build will be uploaded to this repo.

[2020-05-19 22:53] #37 closed

[2020-05-21 18:36] youngbupark opened #51 "Update proto client for 0.8.0"
## Describe the proposal
Update proto client for 0.8.0

[2020-05-25 15:31] chinzhiweiblank commented on #41
I can help with this. Which modules do you need documented first?

[2020-05-26 16:52] youngbupark opened #53 "Split flask_dapr package from dapr package"
## Describe the proposal

Split flask_dapr package from dapr package

- [ ] create setup.py and setup.cfg for flask_dapr
- [ ] configure ci to build flask_dapr package

[2020-05-26 20:10] youngbupark commented on #41
Thanks for your interest. There are many codes which miss the comments. It may need to understand the code.

So I am suggesting to add sphinx doc generation environment to tox and add napoleon extension because this code uses google comment style.  Can you contribute this one first? if you want to do it, please file new issue separately.

[2020-05-27 01:59] chinzhiweiblank commented on #41
No problem! I already started the sphinx doc generation.

[2020-05-28 04:25] #17 closed

[2020-05-28 06:18] #44 closed

[2020-05-29 03:09] chinzhiweiblank opened #57 "Sphinx Auto-generation of Documentation"
## Describe the proposal
Sphinx can be used to generate documentation automatically with the autodoc extension. Napoleon extension can be used to process the Google comment style.

[2020-05-29 03:44] chinzhiweiblank commented on #53
I can help with this since we can copy and modify setup.py, setup.cfg and build steps from the dapr package. Then I'll add in an `find_packages(exclude=("flask-dapr",))` in dapr's `setup.py`.

[2020-05-29 12:45] #57 closed

[2020-05-29 13:03] youngbupark opened #58 "Test compatibility between python sdk and dotnet sdk"
## Describe the proposal

Test compatibility between python sdk and dotnet sdk

[2020-05-29 22:18] #51 closed

[2020-06-04 23:12] #40 closed

[2020-06-06 06:16] youngbupark commented on #58
Validated actor invocation between python sdk and dotnet.sdk

[2020-06-06 06:17] #58 closed

[2020-06-12 04:14] #41 closed

[2020-06-16 21:42] #53 closed

[2020-06-16 21:46] youngbupark opened #65 "Convenient layer for gRPC appcallback"
## Describe the proposal

Create AppCallback wrapper and decorator.

[2020-06-16 21:47] youngbupark opened #66 "Improve code comments to generate sphinx doc"
## Describe the proposal

Improve code comments

[2020-06-16 21:51] youngbupark opened #67 "Convenient layer for gRPC APIs"
## Describe the proposal

Create convenient layer for gRPC API.  This is to create the convenient layer for gRPC API.

Reference:
JAVA SDK - https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/DaprClient.java
https://github.com/dapr/java-sdk/blob/master/sdk/src/main/java/io/dapr/client/DaprClientGrpc.java

Location: dapr/clients/grpc

[2020-06-16 21:53] youngbupark commented on #67
@chinzhiweiblank if you want to contribute to the convenient layer for gRPC API. Please refer to JAVA SDK that I refer to :)

[2020-06-16 22:27] youngbupark opened #68 "[Proposal] Using Dapr and Python-sdk for ML/DL model deployment"
## Describe the proposal

The ultimate goal of ML and DL model development is to integrate with the production services. Typically, ML and DL engineers focus on model development rather than how they will integrate model with their services.

Many articles and tutorials introduces how to serve the model with Flask. Once they have Flask service with their model to their production, the backend and

[2020-06-17 11:17] chinzhiweiblank commented on #67
No problem I'll look into this after the non-Actor APIs PR.

[2020-06-17 22:21] youngbupark opened #69 "Publish python sdk doc to github page"
## Describe the proposal

Publish auto-generated Python SDK doc to GitHub page.

[2020-06-17 22:38] youngbupark opened #70 "Implement actor service via fastapi"
## Describe the proposal

Implement actor service via aiohttp which is similar to flask_dapr extension implementation.

[2020-06-17 22:39] youngbupark opened #71 "Add K8s deployment yaml for demo actor example"
## Describe the proposal

Add K8s deployment yaml for demo actor example

[2020-06-18 13:43] chinzhiweiblank commented on #68
I would suggest porting over from Flask to [FastApi](https://fastapi.tiangolo.com/alternatives/#flask). FastApi and Flask are similar in style but FastApi has more benefits than Flask, particularly its Async [requests](https://towardsdatascience.com/why-we-switched-from-flask-to-fastapi-for-production-machine-learning-765aab9b3679).

[2020-06-18 14:36] chinzhiweiblank commented on #67
No problem. I can take this up.

[2020-06-18 14:43] youngbupark commented on #68
Thanks for the information. Flask is used for Actor Service, not for all Dapr API Appcallback.

Dapr Appcallback in python sdk will use gRPC - https://github.com/dapr/python-sdk/issues/65

[2020-06-18 19:48] letmerecall opened #72 "Unable to subscriber to a topic in pubsub-simple example"
## Expected Behavior

Service should spinn up with hitting `dapr run --app-id python-subscriber --protocol grpc --app-port 50051 python subscriber.py`

## Actual Behavior

It throws following error when we try to spin up subscriber.py
[code]

**Complete logs**
[dapr_logs.txt](https://github.com/dapr/python-sdk/files/4800851/dapr_logs.txt)

## Steps to Reproduce the Problem

Run `dapr run --app-id

[2020-06-19 00:52] youngbupark commented on #67
Thanks I assigned it to you. Please create small PRs. for example, one pr is creating wrappers of state related apis. second pr is create wrapper for bindings. and so on. We must have the proper tests for each implementation.

[2020-06-22 04:53] chinzhiweiblank commented on #67
@youngbupark Is this for the actor client?

[2020-06-22 04:58] youngbupark commented on #67
No this is only for Dapr API. No grpc apis for actor now. Have you tried to run the samples repo codes to understand the each building blocks? Otherwise, Without understanding apis, it would be difficult to work on this item. Please try out samples first and then understand java api design that I refer to.

[2020-06-22 21:37] youngbupark opened #73 "Add Invoke service api to convenient layer"
## Describe the proposal

Add Invoke service api to convenient layer.

Parent epic : #67

- [x] Implementation
- [x] Unit-tests
- [x] Documentation in code
- [x] update examples

[2020-06-22 21:38] youngbupark opened #74 "Add Statestore apis to convenient layer"
## Describe the proposal

Add Statestore apis to convenient layer.

Parent epic : #67

- [ ] Implementation
- [ ] Unit-tests
- [ ] Documentation in code
- [ ] update examples

[2020-06-22 21:39] youngbupark opened #75 "Add binding apis to convenient layer"
## Describe the proposal

Add binding apis to convenient layer.

Parent epic : #67

- [ ] Implementation
- [ ] Unit-tests
- [ ] Documentation in code
- [ ] update examples

[2020-06-22 21:40] youngbupark opened #76 "Add Secret api to convenient layer"
## Describe the proposal

Add Secrets apis to convenient layer.

Parent epic : #67

- [ ] Implementation
- [ ] Unit-tests
- [ ] Documentation in code
- [ ] update or add examples

[2020-06-22 21:43] youngbupark commented on #67
@chinzhiweiblank I have separated work items to deliver the features iteratively. I will write up the initial code for invoke service api soon. If you're unfamiliar with dapr apis, please play with some of examples and samples.

[2020-06-23 14:17] chinzhiweiblank commented on #67
@youngbupark no problem I started with the statestore apis

[2020-06-24 21:21] youngbupark commented on #74
@chinzhiweiblank Please leave any comment here. I will assign this issue to you :)

[2020-06-24 23:10] vinayada1 opened #77 "Add appcallback versioning to HTTP APIs"
## Expected Behavior

Add appcallback versioning to HTTP APIs. Make necessary changes to python-sdk and samples
Related to: dapr/dapr#1678

[2020-06-24 23:16] youngbupark commented on #77
@vinayada1 I will take this issue.

[2020-06-25 18:16] amanbha commented on #77
Closing it as the changes in runtime are not needed for this.

[2020-06-25 18:16] #77 closed

[2020-06-26 19:00] youngbupark opened #80 "Use flask-dapr pkg in actor example"
## Describe the proposal

Use flask-dapr pkg in actor example

[2020-06-27 07:55] youngbupark commented on #74
@chinzhiweiblank please review this pr - https://github.com/dapr/python-sdk/pull/78

This is the initial pr for invoke_service. I am trying to merge this by monday pst.
You can add state api to Dapr class and need to define Response class for state api inheriting from DaprResponse. Tests needs be added.

[2020-06-30 17:03] #71 closed

[2020-07-04 18:13] XavierGeerinck opened #82 "Please mark Dapr-dev Python >= 3.7 instead of 3.8"
## Describe the proposal

I would like to see Python >= 3.7 supported instead of 3.8 (which is cutting edge), seeing that a lot of libraries are still depending on 3.7 at the moment.

[2020-07-06 15:08] youngbupark commented on #82
ok make sense. I will make a change.

[2020-07-06 15:12] XavierGeerinck commented on #82
Awesome, thanks a lot! :) this will specifically enable tensorflow 1.14.0 to be utilized!

[2020-07-06 15:12] youngbupark commented on #74
@chinzhiweiblank Please wait until the pr #78 is merged. #78 includes lots of initial code which can be used for the other rest of apis. please review the #78 pr first and put your change for statestore on hold until this pr is merged.

[2020-07-06 16:03] youngbupark commented on #82
Nice!

BTW, I am working on convenient layer for app callback as well. Then we do not need to implement grpc server either.

This is an example:

[code]

[2020-07-06 17:33] XavierGeerinck commented on #82
Awesome work! This seems really useful 😊 currently I switched back the HTTP layer as well seeing the amazing speed, might switch back to gRPC after a while.

P.S. Seeing an odd bug that "might" have to do with Dapr at high velocity of calls, I'll post the relevant Stacktrace here already but it might be a bug in my code as well. It happens randomly whenever doing a lot of calls.... unsure if it's

[2020-07-07 13:18] XavierGeerinck opened #83 "Actor JSON Serializer randomly failing"
## Expected Behavior

Correct serialization (99.9% of the time) on the HTTP endpoints for actors

## Actual Behavior

When running a Proxy call for the Actor implementation, it randomly fails and spits out a weird JSON string, as if something happened on the protocol transport. Below you can find 2 different occurrences:

**Occurrence #1:**

[code]

**Occurrence #2:**

[code]

## Stacktrace

[code

[2020-07-07 13:19] XavierGeerinck commented on #83
Adding @youngbupark since I think it's you that wrote the Actor implementation and could maybe help here? :)

[2020-07-07 13:34] XavierGeerinck commented on #83
Update: I am thinking it's due to aiohttp (https://github.com/aio-libs/aiohttp/issues/3881)

[2020-07-07 14:32] youngbupark commented on #83
Yeah looks like it.

[2020-07-07 14:50] XavierGeerinck commented on #83
What do you suggest here? Seeing that it's in the Dapr code :-)

[2020-07-07 15:07] youngbupark commented on #83
We will look at it :) I put P1 label on this.

[2020-07-07 15:10] XavierGeerinck commented on #83
You rock! 😀

[2020-07-07 17:29] youngbupark commented on #65
# Proposal

## Summary

* Encapsulate all code to implement AppCallback server using three decorators using built-in registration/routing code:
  - **method(name=...)** for service invocation
  - **subscriber(topic=...)** for pubsub topic
  - **binding(name=...)** for input binding
* Handle protobuf response, its headers/trailers in a seamless way.
* Provide single method to start app callback ser

[2020-07-07 17:42] youngbupark commented on #67
## Problems

* Developers need to understand how to create gRPC server and use gRPC client
* Developers need to change their service codes if dapr API has a breaking change
* Developers need to know how to pass request metadata and extract headers/trailers from response.
* Developers need to understand how to serialize and deserialize protobuf message if they want to use their own protocol buffer

[2020-07-09 01:17] youngbupark opened #85 "Add scenario based application examples"
## Describe the proposal

Add more realistic application examples which can show the capabilities of the convenient layer.

[2020-07-09 03:44] #73 closed

[2020-07-09 03:46] youngbupark commented on #74
@chinzhiweiblank We finally merged #78 PR. Please continue to work on statestore apis.

[2020-07-09 10:43] chinzhiweiblank commented on #74
@youngbupark no problem

[2020-07-09 13:25] youngbupark commented on #74
Thanks! Please create the small pr with unittest. For example, we will need implement 3 methods for state store. Then please create 3 PRs for each method. Also, Dapr class has been renamed to DaprClient.

[2020-07-09 19:02] #80 closed

[2020-07-09 19:42] youngbupark opened #86 "Dapr SDK capability comparison"
## Describe the proposal

This is to generate the report to compare the capabilities of SDKs(dotnet, Java, Go, and Python) and understand the discrepancy among SDKs.

[2020-07-10 00:54] youngbupark opened #87 "Implement Dapr http callback to fastapi extension"
## Describe the proposal

This is to implement the similar attributes in [asp.net integration](https://github.com/dapr/dotnet-sdk/tree/master/src/Dapr.AspNetCore) for http appcallback as a flask extension.

[2020-07-10 01:01] youngbupark opened #88 "Support default json serializer in DaprClient and add .json helper"
## Describe the proposal

In [the convenient layer spec](https://github.com/dapr/python-sdk/issues/67), DaprClient doesn't have the default json serializer, but let users to handle JSON serialization. Like the other python pkgs, such as flask, requests, etc, DaprClient can have default json serializer to serialize and deserialize python dict type or primitive objects and provide .json() helper to

[2020-07-10 22:16] youngbupark opened #90 "Add support for async gRPC in Dapr SDK"
## Describe the proposal

Update: `grpc_asyncio` is now available, however we should publish an asynchronous Dapr Python SDK as a separate SDK, or at least sub package - like `dapr.aio` (`from dapr.aio.clients import DaprClient`)

There were concerns from several users about the performance overhead of calling asynchronous methods and running them in a synchronous context, so simply switching over

[2020-07-10 22:24] youngbupark opened #91 "Support DAPR_API_TOKEN"
## Describe the proposal

This is to support dapr api token authentication.  - Reference: https://github.com/dapr/docs/blob/master/howto/enable-dapr-api-token-based-authentication/README.md

1. read DAPR_API_TOKEN environment variable
2. set `dapr-api-token` metadata in each api call.

Use grpc client interceptor.

[2020-07-13 14:39] youngbupark opened #96 "Add publish api to convenient layer"
## Describe the proposal

Add publish api to convenient layer

[2020-07-13 18:50] #82 closed

[2020-07-13 20:24] #72 closed

[2020-07-13 20:24] #96 closed

[2020-07-16 07:26] XavierGeerinck commented on #90
Awesome proposal @youngbupark ! Really loving all the async await implementation work, it makes everything so much easier!

One question from my side: I see a lot of libraries that did not implement async / await yet... currently I need to use a patched asyncio with `run_until_complete` (e.g. `asyncio.get_event_loop().run_until_complete(self.proxy.SimActionSample())`) to make calls synchronous for

[2020-07-16 21:35] #75 closed

[2020-07-16 23:40] shalabhms opened #97 "Allow to pass W3C trace headers to Dapr Api calls"
Allow to pass W3C trace header(traceparent) or grpc-trace-bin to Dapr Api call.

0.8.0 supports traceparent and grpc-trace-bin. Python-sdk needs the way to pass traceparent for http or grpc-trace-bin metadata for grpc.

[2020-07-18 20:09] XavierGeerinck commented on #83
Any update on this? :)

[2020-07-20 15:27] youngbupark commented on #65
@amanbha I have been working on this since last milestone(0.9.0). I have already had working code and need 1 day to finish it. So I would like to keep it in 0.10.0 release. Any objection?

[2020-07-20 15:38] youngbupark commented on #74
@chinzhiweiblank any updates ?

[2020-07-20 15:44] amanbha commented on #65
yes @youngbupark that should be fine, we should finish any in progress tasks.

[2020-07-20 15:47] chinzhiweiblank commented on #74
Still not done yet. I will open the PR by this week.

[2020-07-20 15:50] youngbupark commented on #74
Cool. Please file the small PRs for each method.

[2020-07-20 15:51] youngbupark commented on #74
@amanbha @orizohar This issue has been worked by external contributor. so I will keep this in 0.10.0.

[2020-07-20 17:01] youngbupark commented on #83
@amanbha @msfussell @orizohar I will prioritize this bug as P0 because it is blocking one of python-users.

[2020-07-20 21:32] #91 closed

[2020-07-22 00:23] youngbupark commented on #83
@XavierGeerinck I tried to reproduce this issue using demo_actor app, but I could not.

According to the log that you attached, I do not think it is related to aiohttp bug because the response seems to overlap the previously received data rather than truncate the data. ActorProxy is asynchronous calls, but seems like you make this async call to sync call in multiple threads. It might be the root c

[2020-07-22 08:49] XavierGeerinck commented on #83
Thanks a lot for diving into this @youngbupark , what you say might make sense actually... sadly enough I am struggling with the issue that the calls have to be synchronous due to the Libraries I am utilizing.

The entire code base I am working on can be found here: https://github.com/Roadwork/Roadwork-RL/tree/master/src (including diagrams). When you speak about "overlapping" data instead of trun

[2020-07-22 09:18] youngbupark commented on #83
@XavierGeerinck let's not use nest-asyncio. Instead, try to use [asyncio.run()](https://docs.python.org/3/library/asyncio-task.html#asyncio.run) or [django's async_to_sync](https://stackoverflow.com/questions/59503825/django-async-to-sync-vs-asyncio-run) to make async call to sync.

Also try to scale out the replicaset of actor services. Please update the status then I can follow it up tomorrow mo

[2020-07-22 09:47] XavierGeerinck commented on #83
Thanks for the quick comment! I switched it all out towards asgiref's `async_to_sync` and creating async methods where they should be (reference: https://github.com/Roadwork/Roadwork-RL/commit/b62e5723d6618b0bd92f80f8a4d16a82d8dfe38e) but the problem still exists.

Latest stacktrace (I marked the strange line):

[code]

[2020-07-22 09:55] youngbupark commented on #83
@XavierGeerinck please do not create new event loop in (reference: Roadwork/Roadwork-RL@b62e572). Try to test it again.

Also please let me know how I can reproduce on my environment. Did you test it on local machine or on K8s ?

[2020-07-22 10:36] XavierGeerinck commented on #83
I forgot to push the latest changes :) I had indeed removed that new event loop creation already.

I tested on a local machine environment, but you should be able to reproduce it with the container installation part (https://github.com/Roadwork/Roadwork-RL/tree/master/src under "Kubernetes")

[2020-07-22 22:07] youngbupark commented on #83
@XavierGeerinck I can reproduce it now. I am investigating this.

[2020-07-23 04:54] youngbupark commented on #83
I captured tcp traffic of server and client side with wireshark

Based on the investigation, actorservice returns correct json format response when proxy calls actor and its method. but when dapr sidecar send the response from actor service to client via http client. the data is corrupted.

For example, two invocation requests, such as A and B, come to dapr sidecar for invocation in a row with alm

[2020-07-23 04:58] youngbupark commented on #83
cc/ @yaron2 @amanbha @LMWF @yolember

[2020-07-23 07:34] youngbupark commented on #83
@XavierGeerinck I found the root cause of this issue and will fix the bug and release 0.9.1 tomorrow.

[2020-07-23 07:43] XavierGeerinck commented on #83
Awesome! Amazing work, you rock! Looking forward to see what was causing this 😊

[2020-07-24 08:40] XavierGeerinck commented on #68
Awesome idea! This is something I have encountered a lot when working with customers... data scientists are very good in creating models, but most often come from a different background and have difficulties integrating with an application.

The main question I had when reading this: how far does Dapr want to go in ML Model support compared to existing tools out there? Depending on this question i

[2020-07-24 17:14] chinzhiweiblank commented on #74
Hey @youngbupark I had these error messages while executing the grpc tests in `test_dapr_grpc_client.py`. Any idea on how to resolve them?
[code]

[2020-07-24 17:42] youngbupark commented on #74
it is working on my machine and github actions. this unit-test starts [grpc test server](https://github.com/dapr/python-sdk/blob/master/tests/clients/fake_dapr_server.py) according to the error message, your os firewall might block the test server port

[2020-07-25 01:24] #76 closed

[2020-07-26 16:02] chinzhiweiblank commented on #74
@youngbupark I'm almost getting the implementation to work. Just needed to clarify something
[code]
Should the states be a list of dictionaries or bytes or a JSON string? I am converting them into `common_v1.StateItem`.

[2020-07-26 16:42] youngbupark commented on #74
Good question. as I initially mentioned, please refer to this java-sdk implementation.

https://github.com/dapr/java-sdk/blob/8e19ba68c9094ebbc2eeff36343d99b318f8bb4a/sdk/src/main/java/io/dapr/client/DaprClientGrpc.java#L495-L498

We will support single state save/get/delete not multiple ones. each state option should be able to set the concurrency/consistency in state options. please refer java-s

[2020-07-26 17:15] youngbupark commented on #74
@chinzhiweiblank when it comes to json serialization. The api layer will get only bytes and str and let users to serialize and deserialize object for the current implementation.

[2020-07-27 15:50] youngbupark commented on #74
@chinzhiweiblank if you create a draft pr, then we can work together.

[2020-07-31 17:41] youngbupark commented on #70
done

[2020-07-31 17:41] #70 closed

[2020-07-31 17:42] youngbupark commented on #70
while working on hackathon, we found the thread issue in flask implementation. so I need to switch from flask to fastapi which supports async natively.

[2020-07-31 17:43] youngbupark commented on #65
initial commit is done, improving code comments will be done by #66

[2020-07-31 17:43] #65 closed

[2020-08-09 07:14] #74 closed

[2020-08-09 07:15] #67 closed

[2020-08-11 00:31] pruthvidhodda opened #104 "Replace all deprecated cli commands and k8s annotations"
## Describe the proposal

Replace all deprecated cli commands and k8s annotations. Part of [this parent epic](https://github.com/dapr/dapr/issues/1717).

[2020-08-11 18:58] #104 closed

[2020-08-12 03:52] chinzhiweiblank commented on #88
Will this work?
[code]

[2020-08-13 18:08] pruthvidhodda opened #106 "Changes to support multi pub-sub"
## Describe the proposal

Update proto clients and convenient layer to support multi pub-sub. Changes in runtime are being tracked with [this issue](https://github.com/dapr/dapr/issues/1709).

[2020-08-13 22:10] yaron2 opened #107 "Add Bulk Get API"
With the addition of the Bulk Get API to the State Building Block, this also needs to be added to the different SDKs.

See API reference here: https://github.com/dapr/docs/blob/master/reference/api/state_api.md#get-bulk-state

[2020-08-17 14:27] youngbupark opened #109 "Add state transaction api"
## Describe the proposal

Add state transaction api - https://github.com/dapr/dapr/pull/1892

[2020-08-17 19:06] #106 closed

[2020-08-27 20:13] shalabhms opened #114 "State APIs should support sending metadata"
State APIs should support sending metadata in the request.

Dapr runtime issue Reference : dapr/dapr#1909

[2020-09-17 22:45] #107 closed

[2020-09-21 21:05] #109 closed

[2020-09-22 18:26] #114 closed

[2020-09-22 18:34] artursouza opened #119 "API to save states"
Today, the method save_state only sends one state to be saved. Create save_states to send multiple states at once (not just wrap save_state into it).

[2020-09-22 20:14] #119 closed

[2020-10-10 01:25] msfussell opened #125 "Pip install dapr does not install all the correct packages in non-development mode"
## Expected Behavior

pip install dapr should install all the correct modules. Currently it looks like there are some modules that you only get when you do pip install dapr-dev that are being used in samples. Why are there different packages herehttps://github.com/dapr/python-sdk#install-dapr-python-sdk which make it confusing?

## Actual Behavior

Samples fail with **dapr.ext.grpc module not foun

[2020-10-11 22:14] aronchick opened #126 "Error in Sample/Cosmo Driver"
## Actual Behavior

I'm using the direct sample from here (https://github.com/dapr/python-sdk/blob/master/examples/state_store/state_store.py) for connecting the Python SDK to CosmosDB in Azure.

However, when I do so, I get this:

[code]

## Expected Behavior
The code is very straightforward - and works correctly when accessing via CURL on http:

[code]

Here's the CURL which works fine:

[code]

[2020-10-12 17:21] #97 closed

[2020-10-12 17:27] youngbupark commented on #126
Just to be clear, was the error happening from the below code too?

[code]

[2020-10-12 18:38] aronchick commented on #126
Yes - that's all that was necessary to repro

[2020-10-14 19:07] aronchick opened #128 "Missing ETag for StateResponse"
It appears that ETag is missing for StateResponse:

https://github.com/dapr/python-sdk/blob/ac9c70deb70e02344a17f5b1f3479ea219e12736/dapr/clients/grpc/_response.py#L275

# Expected
[code]

# Actual
[code]

[2020-10-15 00:11] msfussell commented on #128
This issue should be renamed to support eTags in the Python SDK for all state APIs. This includes
- Save_State
- Get_State
The method signatures of the above should have versions that support eTags. Look at the .NET and Java SDKs for examples of eTag usage

[2020-10-15 00:44] msfussell opened #130 "Consistency of API names between Python SDK and other SDKs"
Currently there are API names that are not consistent with other SDKs. Its worth reviewing the differences

For example in
https://github.com/dapr/python-sdk/blob/master/dapr/clients/grpc/client.py
execute_transaction and ExecuteStateTransactionAsync in .NET
get_states and GetBulkStateAsync in .NET

[2020-10-15 00:53] youngbupark commented on #130
JFYI - Four different language SDKs have the different method signatures in terms of naming. We may need to list up all client apis to review all.

cc/ @mchmarny @artursouza @yaron2 @rynowak @aronchick

[2020-10-15 00:57] mchmarny commented on #130
SDKs are meant to be language idiomatic so not sure there is any value in "synchronizing" method names or their cases across languages. The only criteria IMO should be whether that method name makes sense for that language.

[2020-10-15 01:00] yaron2 commented on #130
Completely agree, providing the same signatures for all SDKs is not developer friendly. The guiding principal is to follow the language convention.

[2020-10-15 02:10] #128 closed

[2020-10-15 10:07] youngbupark commented on #130
I agree on following its own language style, e.g. snake casing, special suffix. We already discussed this.

What @msfussell point it out here is that method name needs to be similar. let me take an example of Bulk states.

* dotnet-sdk: GetBulkStateAsync
* java-sdk: getStates
* go-sdk:  GetBulkItems
* python-sdk: get_states

We uses three different words `bulkstate`, `states`, `bulkitems`  for bul

[2020-10-15 15:09] youngbupark commented on #125
This is not the code bug. it is doc bug. The other SDKs, dotnet-sdk and java-sdk, splits to multiple pkgs.

I will update the doc.

[2020-10-15 16:47] wcs1only opened #133 "[Unit Test] python-sdk: Add coverage reports and PR gating to python-sdk"
## Feature

Add codecov reports and PR regression rules to python-sdk. PR regression rules should match dapr/dapr#2262

Part of dapr/dapr#2226
## Release Note

RELEASE NOTE: **ADD** Added codecov reports to python-sdk PRs

[2020-10-15 19:42] rynowak commented on #130
It seems good to agree on the terminology that's used since that reflects the underlying Dapr concepts 👍 In general it seems like a bad thing if an API uses different **nouns** than the rest of the dapr-verse

[2020-10-15 22:07] #125 closed

[2020-10-15 22:21] youngbupark commented on #125
@msfussell document is updated. please try out.

[2020-10-15 23:33] mchmarny commented on #130
SDK is NOT the API. These are well documented in each protocol (also, even there the naming is inconsistent because protocols). I recommend we move on and file issues in individual SDK repos to address where the naming can be improved.

[2020-10-15 23:50] rynowak commented on #130
My point is that it's better if the terminology surfaced by the SDKs reflects the underlying protocols when it's possible.  I think we actually agree 😆

[2020-10-16 06:41] artursouza opened #134 "Timers invocation fails after app restarts"
## Expected Behavior

After the app crashes (not Dapr sidecar), Actor timers should continue to be fired successfully.

## Actual Behavior

After the app crashes, the context of all registered timers is lost . See: https://github.com/dapr/python-sdk/blob/66d57ab6247c3b88a19226060782e8c3f89dc788/dapr/actor/runtime/actor.py#L52

## Steps to Reproduce the Problem

Start the app that has an Actor.
Sta

[2020-10-16 20:42] wcs1only opened #135 "[Unit Test] python-sdk: Coverage Audit"
As part of dapr/dapr#2226 we need to perform a unit test coverage audit for this package. The purpose of this audit is to identify unit test coverage gaps that we would like to close ahead of v1.0.

Audit Guidelines:
1. We're not shooting for a particular coverage percentage, rather we're looking to add tests which deliver on ensuring correctness and reliability. We prefer efforts that deliver cov

[2020-10-17 01:07] #133 closed

[2020-10-19 15:56] wcs1only commented on #135
So we have code coverage data up and running. Coverage looks pretty good, and it looks like we only have two gaps in coverage:

https://codecov.io/gh/dapr/python-sdk/src/master/dapr/clients/http/dapr_actor_http_client.py
https://codecov.io/gh/dapr/python-sdk/src/combined_coverage/ext/dapr-ext-fastapi/dapr/ext/fastapi/actor.py

[2020-10-19 16:28] youngbupark commented on #135
These files need integration tests instead of unit-test. these files are thin layer to interact with dapr runtime and fastapi directly. In python-sdk, we have abstract class and mock this abstract to not directly use runtime and fastapi.

[2020-10-19 16:45] youngbupark commented on #135
python-sdk unit-test coverage is at > 80%. it covers most of core features. we would not need additional actions for unit-tests as along as we ensure that new pr will include enough tests.

[2020-10-19 16:45] #135 closed

[2020-10-27 23:00] artursouza opened #140 "Add wait() method to block until Sidecar is up"
## Describe the proposal
App might depend on sidecar right away. Implement wait() method to enable app to wait for sidecar to be up before invoking the first call.

[2020-11-10 14:54] trondhindenes opened #141 "For invoke Service - How to return error over grpc."
## Ask your question here
As far as I can see, the `InvokeServiceResponse` object doesn't implement any obvious way of returning errors to the caller.

I'm trying to understand how I would go about indicating a non-success status to a service invocation call.

[2020-11-13 16:42] mukundansundar opened #142 "upgrade proto to the latest"
## Describe the proposal
upgrade proto to the latest

[2020-11-13 19:20] #142 closed

[2020-11-17 23:51] youngbupark commented on #141
the current behavior will throw the grpc rpc exception if callee has an error. then you need to catch this exception. but we realize that this way is difficult to get the actual error code. So we're planning to change the error handling design in 1.0.0 Milestone 2.

Please see [this proposal](https://github.com/dapr/dapr/issues/2342) for more details

[2020-11-23 01:16] artursouza opened #145 "Migrate Actor APIs to GRPC"
All API calls from SDK to Dapr sidecar should migrate to GRPC. Ideally, this should be configurable, so the HTTP path remains as an option (while GRPC is the default).

Out of scope: Callback APIs for actors still use HTTP.

RELEASE NOTE: **UPDATE** Actor API calls from SDK to sidecar to use GRPC.

[2020-11-23 09:26] JochenKienzle opened #146 "Can not find service @ example "invoke-simple""
Hello,

I'm currently trying out dapr for python. I started with the pub-sub simple example and its working fine.

Now, I got stuck with the **invoke-simple** example.

I start the apps with the following commands and order:
1. dapr run --app-id invoke-receiver --app-protocol grpc --app-port 50051 python invoke-receiver.py
2. dapr run --app-id invoke-caller --app-protocol grpc python invoke-caller

[2020-11-24 17:05] youngbupark commented on #145
https://github.com/dapr/python-sdk/issues/90 issue must be resolved first before this migration.

current actor implementation uses asyncio, but Dapr API layer using gRPC API is synchronous. I found that making sync function async in python has lots of issue. So we have to migrate gRPC API craft layer to async first.

The recent gRPC-python supports asyncio, https://grpc.github.io/grpc/python/grpc

[2020-11-25 08:26] youngbupark commented on #146
it works for me on my machine. did you run this sample inside docker container? which version of dapr runtime are you using?

[2020-11-26 06:58] JochenKienzle commented on #146
Thanks for testing @youngbupark

Thats my current setup:

[code]

[2020-11-26 14:12] youngbupark commented on #146
Please delete all packages first and install only non dev pkgs :) *-dev suffix pkgs are the development build :)

If you checkout master branch, then all examples will use dev pkgs.

Output of pip freeze:
dapr==0.7.0a0
dapr-dev==0.8.0a0.dev267
dapr-ext-fastapi-dev==0.8.0a0.dev267
dapr-ext-grpc==0.7.0a0

Please checkout the version `v0.8.0a0` tag for the latest dapr pkg (non-dev)- https://github.co

[2020-11-29 08:44] ZeyadYasser opened #147 "Broken kubernetes link in examples readme"
This commit https://github.com/dapr/python-sdk/commit/2ee94e31292a650135b97bc3c70e3eca885c9b47 moved the kubernetes example directory into the invoke-simple directory. The examples readme just needs to be updated.

[2020-11-30 11:02] JochenKienzle commented on #146
Thanks for your reply.

with dapr 1.0.1-rc.1 I'm getting the following error:

[code]
and stopped working printing all the possible flags of daprd.exe.

My python libs (pip3 freeze):
[code]

Next, I will test it with dapr 0.11.3

[2020-11-30 11:26] JochenKienzle commented on #146
With 0.11.3 the `--max concurrency` issue doesn't appear but I get the same error as before:

[code]

I still assume that this might be related to the proxy configuration, as is still receives it from `127.0.0.1:3218` (which is the proxy port) but as I said, localhost is whitelisted. Maybe another address (multicast) is involved here?

[2020-12-01 01:43] youngbupark commented on #146
Seems like you install older version of dapr runtime. there is breaking change between 0.11.3 and 1.0.0-rc.1.

Did you whitelist 127.0.0.1 or localhost in windows ? by default windows resolves localhost to ipv6 localhost address, not ipv4. please ensure that your firewall whitelisted 127.0.0.1.

[2020-12-01 08:03] JochenKienzle commented on #146
Proxy has a pass-through for 127.0.0.* and localhost. I have found out, that the env-variable _http_proxy_ is used (if I change it, the related address and port is changed in the error message as well). Is there any kind of http(s) communication used by grpc for binding methods (e.g. discovery)?

[2020-12-01 20:52] #147 closed

[2020-12-02 07:13] youngbupark commented on #146
I do not know where http_proxy environment variable is used in Dapr.

I am not sure that I understand your question correctly. python-sdk doesn't use any http.

When you try this [hello world example](https://github.com/dapr/quickstarts/tree/master/hello-world), did you see the same issue?

[2020-12-02 13:14] JochenKienzle commented on #146
Good hint, I tried out the hello world example and it doesn't work as well:

[code]

[code]

I double checked my proxy settings in docker as well on my proxy on my system. Both pass-through localhost & 127.0.0.1 and as I said, pub-sub example is working fine.

[2020-12-02 22:31] youngbupark commented on #130
# Service invocation

### Inconsistent names

N/A

### dotnet-sdk

[code]

### Java-sdk

[code]

### Python-sdk

[code]

### Go-sdk

[code]

## State Store

### Inconsistent names

* Inconsistent SaveBulkState/GetBulkState API names
  * dotnet-sdk, go-sdk: SaveBulkState, GetBulkState
  * java-sdk, python-sdk: SaveStates, GetStates
* dotnet-sdk misses bulk save state api
* dotnet-sdk has `Try*` met

[2020-12-02 22:34] youngbupark commented on #130
# Inconsistent names per building blocks

## Service invocation

N/A

## State Store

* Inconsistent SaveBulkState/GetBulkState API names
  * dotnet-sdk, go-sdk: SaveBulkState, GetBulkState
  * java-sdk, python-sdk: SaveStates, GetStates
* dotnet-sdk misses bulk save state api
* dotnet-sdk has `Try*` methods unlike Java-sdk/Python/Go-SDKs

## Secret

N/A

## Binding

* go-sdk has the additional he

[2020-12-07 12:10] JochenKienzle commented on #146
Some update:
I tried on a Linux VM which uses the same proxy setup --> It works.

[2020-12-10 22:46] yaron2 opened #150 "Naming changes"
To keep consistent with other SDK changes per maintainers overview, the following changes need to be made:

**Service Invocation:**

* Old method: **invoke_service**
* New method: **invoke_method**

<br>
<br>

* Old parameter: **id**
* New parameter: **app_id**

* Old parameter: **method**
* New parameter: **method_name**

**State**

* Old method: **saves_states**
* New method: **save_bulk_state**

[2020-12-11 21:15] #134 closed

[2020-12-14 19:26] mukundansundar opened #151 "Update branding to reflect RC instead of alpha"
## Describe the proposal
Since Dapr is in RC we should use RC branding in the package names. We should update the versions to say 1.0.0-rc-1 or similar.

This will be for the 1.0.0 release of Dapr alone and from then on the versions of the SDKs will diverge. This has been proposed and discussed for all SDKs.

With that in mind, and taking into account PEP versioning https://www.python.org/dev/peps

[2020-12-14 19:31] youngbupark commented on #151
I am supporting this decision to sync with the dapr core release.

[2020-12-16 00:11] #151 closed

[2020-12-17 22:39] alydersen opened #160 "Allow for a more recent version of grpcio"
Hi guys, and thank you so much for your awesome work!

I'm having some issues installing the dapr-fast-api packages now, based on the requirement of the grpcio version being ==1.26.0. Is there any specific reason it needs to be that exact version, or could we change it to at least >=1.26.0? That version is one year old and the current version is .1.34.0.

https://github.com/dapr/python-sdk/blob/fa

[2020-12-18 17:18] youngbupark commented on #160
@alydersen Thanks for your interest. initially, we want to use the same version of gPRC library with dapr/dapr. but now we can use the the latest version of gRPC because dapr/dapr uses the 1.3x.

If you have a time, can you please create the PR to contribute to Dapr ?

[2020-12-20 17:33] alydersen commented on #160
More than happy to contribute @youngbupark! #161 closes this issue to the best of my knowledge.

[2021-01-06 14:05] alydersen opened #162 "Set the timeout for ActorProxy"
Hi everybody,

We have a few issues regarding errors and timeouts when talking to the actors that we are ironing out. The question is if it its possible to tweak the default timeout of 60 seconds on the ActorProxy or otherwise instantialize the class? I guessing there will be very few cases where 60 seconds is needed?

Thanks!
Andreas

RELEASE NOTE: **ADD** Add DAPR_HTTP_TIMEOUT_SECONDS configurat

[2021-01-08 05:39] #160 closed

[2021-01-08 19:37] #140 closed

[2021-01-09 07:16] gaoxinge opened #166 "why not organize the ext package into dapr"
## Ask your question here

Now whole project is divided into four packages:

- [dapr](https://github.com/dapr/python-sdk/tree/master/dapr)
- [dapr-ext-fastapi](https://github.com/dapr/python-sdk/tree/master/ext/dapr-ext-fastapi)
- [dapr-ext-grpc](https://github.com/dapr/python-sdk/tree/master/ext/dapr-ext-grpc)
- [flask_dapr](https://github.com/dapr/python-sdk/tree/master/ext/flask_dapr)

which ma

[2021-01-12 19:49] msfussell commented on #141
@trondhindenes - Due this issue https://github.com/dapr/dapr/issues/2342 we are changing the way that this works and RC3 will come out with new documentation. Hence closing this issue and new ones will be opened.

[2021-01-12 19:49] #141 closed

[2021-01-12 22:37] artursouza commented on #69
Assigning this to @AaronCrawfis since he is setting up the docs website for the SDKs and Python is the first one.

[2021-01-13 00:35] vinayada1 opened #167 "etag mismatch returns a different error code by runtime"
## Expected Behavior
dapr runtime changes the error code returned by the state apis for etag mismatch related errors and other errors. Check if the sdk needs a change. https://github.com/dapr/dapr/pull/2647

## Actual Behavior

Check if sdk needs a change to distinguish between etag mismatch and other state api issues

## Steps to Reproduce the Problem

Error code internal is returned when state a

[2021-01-14 22:50] artursouza opened #169 "Support null etag"
## Expected Behavior

Comply with new proto for etag as per https://github.com/dapr/dapr/pull/2666/files

## Actual Behavior

eTag is still handled as a simple string.

## Steps to Reproduce the Problem

Use master version of daprd and use any API that uses etag.

## Release Note

RELEASE NOTE: **FIXED** Support for null and empty etag.

[2021-01-15 04:12] AaronCrawfis commented on #69
Currently considering creating another Static Web App and giving it the DNS address pythonsdk.docs.dapr.io. This would allow the SDK docs to be generated upon each push to the python-sdk repo, instead of waiting for the docs repo to be updated. Will spend more time on this early next week and complete by EOW

[2021-01-16 23:58] artursouza commented on #69
@AaronCrawfis Originally, the goal was to have a separate domain, similar to java-sdk. It can be hosted on GitHub pages. What do you think?

[2021-01-19 01:28] artursouza opened #170 "Support ActorReference type"
## Describe the proposal

.Net SDK supports ActorReference class as a convenience for users to return the ActorType-ActorId tuple. This class should also be implemented in Python SDK.

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Actors/ActorReference.cs

Also, update the actor_sdk E2E test by adding an invocation validating this use case cross SDKs.

[2021-01-21 23:22] #150 closed

[2021-01-23 01:49] #169 closed

[2021-01-23 22:14] artursouza commented on #167
@vinayada1 I looked into this issue. Today, the Python SDK does not have an abstraction for the grpc exceptions. So, all the exceptions just pass through to the app. There is not much work to do here, apart from updating the example to demonstrate the etag mismatch scenario. See PR above.

[2021-01-23 22:24] artursouza commented on #166
Because users don't need to use all the extensions. New extensions can be created independently from the core project. Also, extensions can be deprecated independently from the core project. This is the same design for the other SDKs. See https://github.com/dapr/java-sdk and https://github.com/dapr/dotnet-sdk

[2021-01-23 22:24] #166 closed

[2021-01-24 07:56] #167 closed

[2021-01-25 18:50] KaiWalter opened #174 "TypeError: publish_event() got an unexpected keyword argument 'topic_name'"
## Expected Behavior

I wanted pub/sub sample from `/examples/pubsub-simple`.

## Actual Behavior

When starting `publisher.py` with
`dapr run --app-id python-publisher --app-protocol grpc python3 publisher.py`

I get

[code]

## Steps to Reproduce the Problem

- Ubuntu 20.10
- install Dapr CLI with `wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh -O - | /bin/bash`
- `

[2021-01-26 00:27] wcs1only opened #176 "Makes service method API invocations over HTTP by default."
Today, mapping gRPC to HTTP is not correct and we don't have a mapping that can work yet (as per dapr/dapr#2342). So, all API calls should be made over HTTP by default in the SDK, even if the other APIs work over gRPC.

This should improve experience for most users since HTTP endpoint is most common. The gRPC to gRPC or HTTP to gRPC scenarios are way less common since dapr requires a custom proto

[2021-01-26 01:53] wcs1only opened #177 "Autovalidation for python examples."
## Feature Request

Add autovalidation to examples/

They can double as a smoke/integration test suite.

## Release Note

RELEASE NOTE: **ADD** Autovalidation for python examples.

[2021-01-26 08:54] KaiWalter commented on #174
same with
- Ubuntu 20.04 on WSL2
- Python 3.8.5
- pip install dapr 1.0.0rc2
- pip install dapr-ext-grpc 1.0.0rc2

[2021-01-26 15:45] KaiWalter commented on #174
my mistake - wrong SDK version

[2021-01-26 15:45] #174 closed

[2021-01-27 01:17] artursouza opened #179 "Add support for bulkGetSecret"
Add support for bulk get secret API.

[2021-01-27 03:55] #179 closed

[2021-01-27 20:22] artursouza opened #181 "Remove OpenCensus SDK dependency - still unstable"
## Expected Behavior

Apps can use Dapr's Python SDK and use a different OpenCensus SDK they choose.

## Actual Behavior

Dapr's Python SDK has opencensus version 0.7.x, which is unstable. It would force apps to use the same version and cannot upgrade without a potential breaking change.

## Steps to Reproduce the Problem

Have a Python app using Dapr's SDK and OpenCensus SDK where version does no

[2021-01-30 00:24] wcs1only opened #183 "Update python-sdk to allow setting of data_content_type for cloud event envelope."
Python-sdk must support dapr/components-contrib#571

## Release Note

RELEASE NOTE: **ADD** Add data_content_type parameter to publish_event

[2021-01-30 20:14] #176 closed

[2021-01-31 03:27] #181 closed

[2021-02-01 21:22] #183 closed

[2021-02-02 19:25] wcs1only commented on #162
We can indeed add a timeout value to the public interface.

[2021-02-05 00:17] wcs1only opened #190 "Update copyright headers"
Update all copyright headers to match dapr/dapr#2758

RELEASE NOTE: N/A

[2021-02-05 01:51] #190 closed

[2021-02-09 07:31] artursouza opened #192 "Updates for next runtime RC"
Update the SDK for the following breaking changes:

1. Service invocation now handles queryparams as string and not Map of string->string. Get the latest proto and fix any code in the SDK that refers to that.

2. When content type is "application/octet-stream", CloudEvent's data will now be in `data_base64` and that should be exposed as `byte[]` to the application.

[2021-02-10 22:05] yaron2 opened #194 "v1.0.0 Endgame"
End game Lead: @yaron2
End game buddy: @artursouza

This is the schedule for the v1.0.0 release

2/10 5:00 PM PST code freeze for the release

- [ ] Code freeze at 12:00 pm 2/10
- [ ] No P0 issues before code freeze.
- [ ] E2E and perf tests are passing. (Known perf test failures, deemed not a blocker. Known E2E failure not a blocker).
- [ ] Merge master into release-1.0 branch for component-contr

[2021-02-10 22:06] yaron2 commented on #194
ROFL wrong repo

[2021-02-10 22:06] #194 closed

[2021-02-11 01:20] ms-kashyap opened #195 "Sample Dockerfile in examples/invoke-simple/ shouldn't have python CMD"
## Expected Behavior

When following the README in examples/invoke-simple/, you're supposed to build a Docker image from the included Dockerfile. However, the last command in this Dockerfile is `CMD [ "python", "invoke-receiver.py" ]`.

My understanding was that you don't need to specify this command at all because the yaml files in deploy/ already tell Kubernetes to run `invoke-receiver.py` and `

[2021-02-11 01:50] wcs1only commented on #192
We discovered while working on this, we shouldn't actually need any changes to the python API for data_base64, however in the process, we discovered a runtime bug. Closing in favor of dapr/dapr#2794

[2021-02-11 01:50] #192 closed

[2021-02-17 00:19] wcs1only commented on #195
I just verified this, it works as is. You're right in that we don't need it, and I think it only exists for the sake of running the container locally outside of k8s.

If you are having trouble, can you confirm for me what your Kubernetes setup is like? What version/provider are you using?

[2021-02-18 15:12] chinzhiweiblank commented on #88
Hey @youngbupark , I want to tackle this again. Could I ask if this is the result you seek?

[2021-02-24 00:56] wcs1only commented on #146
So we've had some reports that certain anti-virus/security software may block mdns requests (which is what dapr uses for service discovery when running locally). If you are still having this issue, can you let us know what OS version you are running on, and if you have any antivirus/security software running?

[2021-02-28 07:35] seewindcn opened #202 "gevent compatibility"
## Describe the proposal
Can dapr sdk work with gevent?
this can make dapr support wide normal no async python package;

http://www.gevent.org/
grpc already support gevent: https://github.com/grpc/grpc/issues/4629

[2021-03-09 20:24] artursouza commented on #170
ActorReference is a class that can be serialized by user provided serialization and it might not be compatible with every serializer, specially when cross SDK compatibility is required. I propose we pause this until further discussion about cross SDK serialization.

[2021-03-13 00:33] #177 closed

[2021-03-17 18:28] callalilychen opened #204 "after updating dapr to version 1.0.1, pubsub example does not work any more"
## Expected Behavior

https://github.com/dapr/python-sdk/tree/master/examples/pubsub-simple works without reporting any errors

## Actual Behavior

subscriber can not receive any messages:
[code]

publisher report errors:
[code]

## Steps to Reproduce the Problem

After start dapr 1.0.1 with `dapr init`. Then follow the readme in the example folder.

[2021-03-17 18:31] callalilychen commented on #204
state store example also does not work any more for me:

[code]

[2021-03-18 18:39] kaypee90 opened #205 "`tox -e doc` command failed"
I have python 3.9 installed and I ran `tox -e doc` command for documentation and it threw this error `ERROR: InterpreterNotFound: python3.7`. Are there any prerequisites before running this command?

[2021-03-20 14:14] Ilozuluchris commented on #204
@callalilychen Not a fix: but for the pubsub example downgrade your runtime version to version 1 and upgrade the python libraries via pip if you have not. That worked for me.

[2021-03-22 09:29] wenwenchenbosch commented on #204
@Ilozuluchris how to downgrading dapr runtime? I downgraded dapr cli, and try `dapr init`. The newest dapr runtime is then installed.

[2021-03-22 15:09] Ilozuluchris commented on #204
@callalilychen  Use `dapr init --runtime-version runtime_version_number`, where `runtime_version_number` is the version number you want to use, you might need to uninstall the current runtime first with `dapr uninstall`. You can find runtime versions [here](https://github.com/dapr/dapr/releases)

[2021-03-23 16:05] wcs1only commented on #205
So, our requirements are for python >=3.7. Our tox.ini definitions are probably too restrictive.

If you just want to get yourself unblocked, you can install a python3.7 interpreter.

[2021-03-23 16:58] wcs1only commented on #204
Which version of the python-sdk are you currently using? Using dapr runtime v1.0.1 requires python-sdk >= 1.0.0:
[code]

[2021-03-23 17:13] wcs1only commented on #88
Yes, I think your proposal matches what we're looking for here. Would be glad to accept a PR with these changes.

[2021-03-23 19:47] wcs1only commented on #162
So we're adding two ways to do this. You can set the environment variable DAPR_HTTP_TIMEOUT_SECONDS

or

[code]

[2021-03-23 21:06] wenwenchenbosch commented on #204
After I downgraded my dapr runtime to 1.0.0, I still facing the same problem.
And checked dapr python sdk and also `dapr-ext-grpc` version. It shows also v1.0.0:
[code]

I tried the whole thing with my laptop, which installed the same OS like my pc. On my laptop, everything works fine. But on my pc, It worked with runtime 0.8.0, not any more with version >= 1.0.0. Maybe there is issues with ryzen

[2021-03-23 21:48] #162 closed

[2021-03-30 20:47] wcs1only commented on #204
That's just your machine's hostname, I believe. We don't have any processor specific code, so I would be shocked. I missed this on the first pass read of your error message, but it looks like you might be hitting a known issue when upgrading from an older version of the runtime:

https://github.com/dapr/dapr/issues/2960#issuecomment-804628039

If you do a ```dapr uninstall --all && dapr init``` Th

[2021-03-31 15:37] wcs1only opened #210 "Shutdown support for python-sdk"
## Describe the proposal

Creating this issue retroactively to make sure we capture support for shutdown() call in the python-sdk in the v1.1.0 release notes.

RELEASE_NOTES: **ADD** Shutdown support for python-sdk

[2021-03-31 15:39] #210 closed

[2021-04-01 14:23] wenwenchenbosch commented on #204
tested and it works, thanks very much :+1:

[2021-04-01 22:23] #205 closed

[2021-04-06 15:28] #204 closed

[2021-04-12 15:00] JohnH-Work commented on #146
I'm getting this issue running the hello world example, but it works if I disable the VPN client (AppGate SDP). I'm running on Windows 10 (20H2) with McAfee antivirus (disabling that made no difference). The VPN is required for remote working, so it's less than ideal.

[2021-04-13 05:14] JochenKienzle commented on #146
I have security software running on Windows and Linux so this could causing the issues with service discovery and rpcs. I was working using a VPN and without, which made no difference (but I was using dapr on localhost only).

On Linux, Service discovery and pub-sub was working but rpcs haven't been executed (timeout). I have to check your suggestions and to double check my setup. I'll let you kno

[2021-04-20 20:23] halspang opened #214 "Add support for actor reentrancy"
## Describe the feature
The dapr core runtime is planning on supporting actor reentrancy. The bulk of this logic will be handled in dapr's runtime but the SDK will be responsible for:

- Preserving the header `dapr-reentrant-id`
- Providing the new config fields required by `dapr/config`

For more context on actor reentrancy, the design proposal can be found here: [actor reentrancy](https://github

[2021-05-06 15:30] Junnplus opened #216 "Non-asyncio actor implementation support?"
## Describe the proposal

Current actor implementation uses asyncio, but seem asyncio is not mainstream in Python, whether actor will support the implementation of non-asyncio?

[2021-05-07 00:16] artursouza opened #217 "Offer API for integration testing with Dapr"
Similar to https://github.com/dapr/java-sdk/issues/541

Allow application developers to easily write integration and end-to-end tests by exposing a Facade to facilitate running apps with Dapr on standalone mode and Kubernetes.

[2021-05-17 21:12] emattiza opened #220 "[Docs-CONTENT] Wrong link reference in docs"
Describe the issue
Wrong Link reference in docs for python actors extensions in flask and fastapi

URL of the docs
https://docs.dapr.io/developing-applications/sdks/python/python-actor/#actor-services

Expected content
Flask should point to the flask docs, fastapi should point to the fastapi docs

[2021-05-26 13:40] #220 closed

[2021-05-27 15:27] wcs1only commented on #126
Doing some backlog pruning, it looks like this issue no longer exists in the latest python-sdk/dapr runtime:

[code]

[2021-05-27 15:27] #126 closed

[2021-05-27 16:03] wcs1only commented on #216
One of the primary requirements of actors is that they be single threaded to ensure memory consistency. That makes asyncio somewhat necessary to ensure that all operations are not blocking. Otherwise a single long running IO request could block all executions.

[2021-05-27 16:03] #216 closed

[2021-06-14 19:35] wcs1only opened #225 "Build failure on type check"
## Expected Behavior

Build should pass

## Actual Behavior

[code]

I don't know why we never hit this before, but fix should be pretty straightforward.

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-06-14 20:37] #225 closed

[2021-06-24 16:33] #214 closed

[2021-06-29 19:20] berndverst opened #227 "Fix PyPI publishing workflow (credentials issue)"
## Expected Behavior

Dev builds triggered by CI are published to Pypi.

## Actual Behavior

Failure due to credential issue.

[code]

[2021-06-30 19:33] wcs1only commented on #227
Confirmed that upload is working now. Thanks @berndverst !

[2021-06-30 19:33] #227 closed

[2021-06-30 19:52] wcs1only commented on #202
So, as I understand it, gevent provides tools to add support to 3rd party libraries should you choose to use it. What is it that you would need to change in the python-sdk to enable this?

Also, this may have implications for the actor framework, as it expects to be single threaded async. Does gevent break this assumption?

I'd love to hear more about your use case.

[2021-06-30 20:08] wcs1only commented on #195
This is issue is stale. Closing. If this is actively causing an issue for you, please open a new issue with details on what the issue is and how to reproduce it.

[2021-06-30 20:08] #195 closed

[2021-07-13 18:41] halspang opened #237 "Implement State Isolation for Reentrant Actor Calls"
## Describe the proposal
Without state isolation, a reentrant call can commit state changes from anywhere in the call stack. Instead of allowing this, we should stop actors from being able to modify the state of previous actors.

The proposal here is to allow for state snapshots to be used instead of accessing the `StateManager` directly. This should be achievable with Python's `ContextVars`. When

[2021-07-13 19:44] berndverst commented on #237
I'll take a look!

[2021-07-15 13:20] daN4cat opened #239 "DaprInternalError errorCode UNKNOWN when response.status contains a valid code"
## Expected Behavior

Copy the response.status to DaprInternalError errorCode so that an application can retry if makes sense e.g. in a 429 case.

## Actual Behavior

Given a valid response.status visible in the DaprInternalError message string, the errorCode is set to UNKNOWN (default).
That is problematic because any calling out function cannot retry if the exception contains an error like 429,

[2021-07-20 06:39] avvijeet opened #241 "requests like interface for service invocation in dapr"
## Describe the proposal

API Usage
I have created dapr_api_wrapper pip module which is a requests like interface over dapr client for smooth transition from requests to dapr
[code]
Questions:
1. Can this feature be included in dapr python?

[2021-07-21 09:53] shlyopin opened #243 "Invoke method DemoActor (FastAPI) via curl"
Hello!

I'm starting "demo_actor_service.py" (dapr run --app-id demo-actor --app-port 3000 -- uvicorn --port 3000 demo_actor_service:app)
and trying to invoke "PUT /actors/DemoActor/1/method/GetMyData" with actor_id = 1

log on the server:
`== APP == Activate DemoActor actor!`
`== APP == INFO:     127.0.0.1:35018 - "PUT /actors/DemoActor/1/method/GetMyData HTTP/1.1" 500 Internal Server Error`

log

[2021-07-25 06:20] karolzlot opened #245 "Not working link in readme"
## Describe the proposal

Link above is not working

[2021-07-26 20:55] #245 closed

[2021-07-27 03:16] #237 closed

[2021-07-30 09:40] avvijeet commented on #243
Hey @shlyopin, this is a known bug flagged out by a fellow developer in Dapr Discord Python-sdk group.

[2021-07-31 03:26] anhldbk opened #252 "Demo Actor: Failed to run"
## Overview

I failed to run the demo in [self-hosted mode](https://github.com/dapr/python-sdk/blob/master/examples/demo_actor/README.md#run-in-self-hosted-mode)

## Details

In step 2, while invoking

[code]

I got an error of

[code]

## Analysis

From the error log, the client seems to NOT fully initialize the runtime.

## Suggestion

Add another flask-based demo & modify the doc

[code]

## No

[2021-08-02 09:30] anhldbk commented on #252
@wcs1only Should I make a PR?

[2021-08-02 19:40] omidb opened #254 "Type Annotations"
Is it possible to add type annotations to Actors functions in Python SDK:
[code]
And will VS Code (or any other editor) intellisense work with it?

[2021-08-05 02:18] wcs1only commented on #252
You can, but our automated validation for this example is currently passing:
https://github.com/dapr/python-sdk/runs/3221025579?check_suite_focus=true#step:16:937

Runtime not initialized generally means we're missing a dependent component. Can you post the daprd logs associated with the failing run? That might shed some light on the failure.

[2021-08-05 02:25] wcs1only commented on #243
Could you post your exact curl command? If you are trying to invoke an actor, you need to do so through the dapr API, and it looks like you are trying to invoke the python application directly?

[2021-08-05 02:30] wcs1only commented on #239
You're right, we should be surfacing the status code here. Would you like take a crack at making PR to surface the status code?

[2021-08-05 06:39] shlyopin commented on #243
Yes, i trying to invoke the python application directly via the FastAPI.
There is a public API that allows you to do this, but does not work.
I did not have any problems with calling through Dapr API

I ran demo_actor_service without demo_actor_client and trying to execute the request: curl -X 'PUT' 'http://localhost:3000/actors/DemoActor/1/method/GetMyData' -H 'accept: application/json'
Response

[2021-08-05 06:40] shlyopin commented on #243
Thank you, I subscribed to the channel!

[2021-08-05 13:02] omidb opened #255 "Changing the serializer for Dapr actors"
Is there anyway to change the sterilization protocol for Actors and state manager? Currently Dapr is using json.dumps underneath and it seems impossible to pass any special Encoders.

[2021-08-05 15:35] wcs1only commented on #243
So in order to do what you are trying to do, you need to be talking to a dapr sidecar. This is what handles actor activation and enforces the property that only one actor can be activated at once. Try this instead:

[code]

[code]

When I run this I get:
[code]

And on the service side:
[code]

[2021-08-05 15:38] wcs1only commented on #243
I'm not sure which known issue you are referring to @avvijeet ? This is an expected behavior, not a known issue, as far as I can tell.

[2021-08-09 07:19] avvijeet opened #256 "http_querystring tuple in DaprClient Invoke method does not support boolean values"
## Expected Behavior

I expected the request to pass-through smoothly

## Actual Behavior

When I tried to invoke the method
[code]

invoke_kwargs["http_query_params"] = ( ("pass_through", False), )

I got this error
[code]

I had to specifically convert bool values to int 1 and 0 to work around this.

Is it possible to add boolean support?

## Release Note
**FIX** Bug in runtime.

[2021-08-09 09:32] shlyopin commented on #243
Thank you very much!!!

[2021-08-09 09:32] #243 closed

[2021-08-11 07:05] #256 closed

[2021-08-18 22:10] omidb commented on #90
Thanks for the proposal, this will unify a lot of things on the Python SDK. Any update on this @youngbupark ?appreciate it.

[2021-08-19 00:52] CodeMonkeyLeet commented on #90
I don't think @youngbupark is looking at these issues any more ... @wcs1only @artursouza for their opinion instead.

[2021-08-19 08:42] daN4cat commented on #239
OK, let me find the time and I'll PR a fix.

[2021-08-20 00:22] artursouza commented on #90
This work seems to be about using grpc_asyncio for all gRPC communication in the SDK.

[2021-08-20 00:44] daixiang0 opened #258 "Support domain socket"
## Describe the proposal

Ref https://github.com/dapr/dapr/issues/2864

## Release Note

RELEASE NOTE: **ADD** support domain socket.

[2021-08-20 21:52] omidb commented on #90
right now, it's really not easy to write an app to connect and interact with Actors or invoke a method on service or binding. Some are using async and some are not.  It would be great to see an example app that does multiple things such as communication with actors, using pubsub and invoke methods to examine the opportunities to make Python sdk more streamlined.

[2021-08-23 21:32] omidb opened #260 "Invoking a service method inside an Actor method doesn't work"
## Expected Behavior

Invoking a service method inside an actor method should simply work.
[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

invoke a method inside an actor. Workaround from @wcs1only:

[code]

## Release Note

RELEASE NOTE:

[2021-08-24 06:38] avvijeet opened #261 "Support for PATCH request in service invocation"
## Describe the proposal
Currently, the dapr client for service invocation does not support patch requests.
Upon trying patch request it automatically makes a POST request instead.

I had to convert patch requests to post temporarily to get it working.

[2021-08-27 21:49] paulyuk opened #263 "Cannot create python-sdk environment with Python 3.9 (latest stable) - pip3 install fails with python3.7 not found"
## Expected Behavior

SDK environment loads successfully per README.md.  Specifically this step 3 should succeed:

pip3 install -r dev-requirements.txt

## Actual Behavior

There is an error in the pip3 install.  It's suggestive that the install NEEDS python 3.7.  However the latest stable is 3.9, and that is what I have.

Error message:
ew/homebrew-core/issues/76621
ERROR: pip's dependency resolv

[2021-08-27 22:25] wcs1only opened #264 "Run CI/CD pipelines against all supported python minor versions."
## Describe the proposal

We need to run against 3.7, 3.8, 3.9, etc. We're only running against 3.7 today.

[2021-08-27 23:34] willtsai opened #265 "Unit tests are failing for Python-SDK"
## Expected Behavior

When I run the unit tests after installing and building the Python SDK as described in the README, the unit tests should pass.
`tox -e py39` (I have Python 3.9)

## Actual Behavior

When I run the unit tests after installing and building the Python SDK as described in the README, the unit tests fail with the following status:
[code]
Full logs:
[PythonSDK_UnitTestFailures_2021

[2021-08-27 23:36] willtsai commented on #263
@paulyuk - It looks like your errors are happening when trying to execute unit tests using `$ tox -e py37`

That being said, I also have Python v3.9 and when I use the command `$ tox -e py39` instead of `$ tox -e py37` the unit tests successfully run. **However**, the unit tests then proceed to fail, so I logged a separate issue - https://github.com/dapr/python-sdk/issues/265

[2021-08-28 22:14] paulyuk commented on #263
Hi @willtsai - yea I have a 3.9 environment for sure.  In this issue I only ran this:
pip3 install -r dev-requirements.txt

You're right though if you run tox -e py39 downstream you get the issue in #264.  So I think we need fixes to both of these.

[2021-08-29 15:39] omidb commented on #260
@avvijeet I think @wcs1only knows about the bug as he asked me to create an issue. I'm not sure what can be done or what can be passed to invoke method to avoid this.

[2021-08-29 15:53] avvijeet commented on #90
Interested in working on this issue

[2021-08-31 16:01] #263 closed

[2021-08-31 16:01] #264 closed, assigned to nobody

[2021-09-02 09:04] marcmaranon opened #268 "ReminderData does not honours period value"
## Expected Behavior

When registering an Actor's reminder it should honour the `period` argument's value, allowing us to schedule reminders.

## Actual Behavior

when receive_reminder() is called, `period` argument contains the `due_time` 'svalue. Also, reminder is called based on the `due_time`'s value instead of `period`'s value.

## Steps to Reproduce the Problem

Create an actor and register

[2021-09-02 16:46] paulyuk opened #269 "Dev container build breaks on Mac M1"
## Expected Behavior
Dev Container loads and builds on any modern MacOS machine (my case MacBook Pro m1) including M1 ARM architecture.

## Actual Behavior

Blocking build error, and dev container fails to load

[code]

## Steps to Reproduce the Problem
Using a MacBookPro m1
- ensure VS Code has Remote Container extension installed (and Docker Desktop)
- clone dapr/python-sdk repo
- cd python-sdk

[2021-09-02 16:48] paulyuk commented on #269
Also, dockerfile points to a specific architecture.
add-apt-repository "deb [arch=amd64]

Should be

add-apt-repository "deb [arch=$(dpkg --print-architecture)]

[2021-09-02 16:49] paulyuk commented on #269
Related issue in VSCode Dev Containers:
https://github.com/microsoft/vscode-dev-containers/issues/558#issuecomment-907523792

[2021-09-02 16:53] paulyuk commented on #269
Hypo validated.  This dockerfile resolves the issue.  Note new base image in "FROM" and updated deb [arch=$. ..  I will submit a PR.  Thank you Chuck Lantz for ideas.

#-------------------------------------------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation and Dapr Contributors. All rights reserved.
# Licensed under the MIT License. See h

[2021-09-08 20:17] omidb opened #271 "Protobuf version"
Can we match the version of
https://github.com/dapr/python-sdk/blob/cf241a5926b2d8d139cfdf00a072eb4d6dcdb45d/setup.cfg#L25

and

https://github.com/dapr/python-sdk/blob/master/dev-requirements.txt#L10

to be `3.17.3`?

[2021-09-08 21:32] berndverst commented on #268
@marcmaranon great catch. You exactly identified what needed to be fixed. The existing tests were meaningless because they used the same value for reminder and due time, so couldn't catch this issue. I fixed that up now.

[2021-09-08 21:36] berndverst commented on #271
Thanks @omidb. Sure, no reason why we shouldn't do that. I had to make another fix and included this change within that PR.

[2021-09-08 21:43] #268 closed

[2021-09-08 21:43] #271 closed

[2021-09-08 21:58] #269 closed

[2021-09-10 06:08] wmeints opened #274 "Data argument not sent to output binding when calling `DaprClient.invoke_binding`"
## Expected Behavior

The data argument of the `invoke_binding` method on the `DaprClient` class is sent to the output binding.

## Actual Behavior

The data argument is not sent to the binding. The metadata is sent correctly.

## Steps to Reproduce the Problem

I noticed this behavior when using the SMTP output binding. When executing the following code:

[code]

The client sends the metadata to

[2021-09-20 17:38] avvijeet commented on #261
Http - grpc invoke

On Mon, 20 Sep 2021, 11:05 pm Charlie Stanley, ***@***.***>
wrote:

[2021-09-20 17:38] avvijeet commented on #261
using python dapr client

On Mon, 20 Sep 2021, 11:07 pm Avijeet Diwaker, ***@***.***> wrote:

[2021-09-20 18:00] wcs1only commented on #261
As best I can tell, this works correctly with the latest python-sdk + dapr runtime. Using the invoke-simple receiver:

[code]

[code]

Similarily, if I modify invoke-caller.py to make a PATCH request, it works as expected. Can you post code to reproduce what you are experiencing?

[2021-09-20 19:29] wcs1only commented on #261
Actually, I did some further testing, and this appears to be a runtime behavior (not specific to the python-sdk). The python-sdk is correctly passing the PATCH verb to the runtime, and somewhere along the line the runtime is changing it to a POST.

Callee:
[code]

Caller:
[code]

[2021-09-20 19:43] wcs1only commented on #261
Yeah, we're missing patch: https://github.com/dapr/dapr/blob/88bb0764ab72d0443d211345dda57052056bd6f3/pkg/proto/common/v1/common.pb.go#L38-L49

Looks like we didn't look at https://datatracker.ietf.org/doc/html/rfc5789 when defining the HTTP extension. Moving this to dapr/dapr

[2021-09-22 15:38] jia-zhengwei opened #282 "address parameter for DaprClient does not work in DaprInvocationHttpClient"
## Expected Behavior

address parameter for DaprClient should work in DaprInvocationHttpClient

## Actual Behavior

Found that the **address**  does not work, since DaprClient(address=address) does not change DAPR_RUNTIME_HOST  and DAPR_HTTP_PORT, it still use get_api_url.
[code]

## Steps to Reproduce the Problem

At first, init dapr client with **address**, then, called invoke_method
[code]

##

[2021-09-27 10:10] jia-zhengwei commented on #282
since dapr may always use localhost, close this issue.

[2021-09-27 10:10] #282 closed

[2021-09-29 10:10] hereisok opened #283 "DaprJSONEncoder bug"
## Expected Behavior

json data can be parsed correctly

## Actual Behavior

The string is decoded into time

## Steps to Reproduce the Problem

[code]

RELEASE NOTE:

[2021-09-29 10:20] hereisok commented on #283
The reason for this problem is that there is a problem with the regular expression here

[code]

Adding $ at the end can solve the problem, but I am not sure whether this will cause other problems for the time being. And, this is not the fundamental solution. dapr sdk needs to set special serialization logic for reminder message

[2021-10-08 09:44] wmeints commented on #85
Hi @youngbupark we've built a nice workshop at Info Support that demonstrates how to use Dapr in a more realistic scenario: [edwinvw/dapr-workshop](https://github.com/edwinvw/dapr-workshop). I've created [the python version]( https://github.com/wmeints/dapr-workshop-python) for that workshop.  I think it could be a great source for people to learn how to use Dapr in Python.

[2021-10-08 09:53] wmeints commented on #87
Hi @youngbupark I'm not entirely sure what you have in mind here. Are you thinking along these lines?

** Topic bindings**
[code]

[2021-10-30 07:15] wmeints commented on #274
I've looked into this some more and discovered that the data argument is passed to the output binding. I replaced the email binding with a local file binding and that one works correctly with the `invoke_binding` method.

[2021-10-30 12:26] wmeints commented on #274
Found it! It's actually not in the python-sdk but rather in the SMTP binding :)
I posted a fix here: https://github.com/dapr/components-contrib/pull/1254

[2021-10-30 12:26] #274 closed

[2021-11-01 19:54] wcs1only commented on #252
@anhldbk Since we haven't had any activity on this issue in several months, I'm going to close this issue. If you are still having trouble, please open a new issue with daprd logs included.

[2021-11-01 19:54] #252 closed

[2021-11-01 19:56] wcs1only commented on #202
Since we haven't had any movement on this issue in many months, I'm going to go ahead and close it as stale. If you would like to restart this conversation, please create an issue, or reach out on our community Discord:
https://aka.ms/dapr-discord

[2021-11-01 19:56] #202 closed

[2021-11-01 20:00] #146 closed

[2021-11-02 20:18] wmeints commented on #254
I think you can, the type annotations have no effect at runtime.

[2021-11-05 07:11] wmeints commented on #87
@berndverst I think this can be closed since the callbacks are now in the SDK.

[2021-11-05 21:33] #88 closed

[2021-11-09 06:47] wimvc1 opened #295 "[Question] Asyncio event loop in DaprInvocationHttpClient"
Hi all,

I have a question/remark regarding the `DaprInvocationHttpClient` and specifically the `invoke_method` method.
Source: https://github.com/dapr/python-sdk/blob/18a609ac01b6b3c91f0a9e736dc24c4fa4ed9ac3/dapr/clients/http/dapr_invocation_http_client.py

Starting from line 96:
[code]

This creates a new event loop which seems to cause issues when using other libraries/frameworks which also use

[2021-11-09 14:50] wmeints commented on #295
Sounds like this could use an additional check. Async is always tricky.

[2021-11-09 19:28] dmitsh opened #296 "add support for statestore query API"
This feature is implemented in dapr runtime: dapr/dapr#3662

It should be available via the SDK

[2021-11-13 10:09] berndku opened #299 "Error calling publish_event with rawPayload metadata"
## Expected Behavior

Using the Python sample from the [documentation](https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-raw/#publishing-raw-messages) to publish messages to a MQTT pub/sub binding with rawPayload=true :

[code]

## Actual Behavior
The following error occurs and the data is not published:

[code]
Checking the source code at [client.py](https://github.com/da

[2021-11-15 19:14] omid-verneek opened #301 "Adding the capability to mix current gRPC services with the Python SDK gRPC extention"
## Describe the proposal
If we can add a current service to the Python SDK gRPC extension server, then it will enable us to easily use gRPC proxying and also use other features that the SDK provides such as pub/sub etc.

[2021-11-17 20:47] #301 closed

[2021-11-17 21:22] wcs1only commented on #299
Confirmed reproducible. I don't think we ever added a metadata test when metadata was added to runtime pubsub.

[2021-11-17 21:39] wcs1only commented on #299
Oh, I see the issue, or one of the issues, at least. Python interprets `(('test','test'))` as a Tuple, not as a Tuple of Tuples. We need to update this example with `(('test','test'),)`.

[2021-11-18 02:35] wcs1only commented on #299
So the docs are wrong, and we have a missing field on the publish API. The metadata field refers to grpc metadata in the python API and is not for message specific publish metadata. We need an API change to even enable this feature properly.

[2021-11-18 20:17] wcs1only commented on #299
Fix merged. This is a bad enough bug it warrants an out of band patch release. Will cut that shortly.

[2021-11-18 22:27] wcs1only commented on #299
v1.4.1 pushed, and docs fixed.

[2021-11-18 22:27] #299 closed

[2021-11-22 08:48] barrricade opened #307 "[Question]invoke_method in DaprClient"
## Ask your question here
hi all
i have a question when call invoke in the interface named caller，then the receiver return status_code:404，but dapr invoke function return err:
### dapr.clients.exceptions.DaprInternalError: (None, 'UNKNOWN')
## Code
`
from fastapi import FastAPI, HTTPException
from dapr.clients import DaprClient
import json
app = FastAPI()
def dapr_invoke(app, method, data, http_ve

[2021-11-22 08:50] #307 closed

[2021-11-23 22:42] dmitsh opened #308 "add support for Configuration API"
The Configuration API feature has been implemented in Dapr runtime: https://github.com/dapr/dapr/pull/3606
It needs to be accessible via the SDK.

[2021-11-23 22:54] dmitsh opened #309 "add support for TTL and time/interval formats in actor timers/reminders"
This feature has been implemented in Dapr runtime: dapr/dapr#2906

It needed to be available via the SDK.

[2021-11-24 13:14] guyzyl opened #310 "Package tests/**/fake_*.py with Python package"
## Describe the proposal
I'm currently working on Python code that uses Dapr, and to test my code I need to run/mock Dapr somehow.

If we package all the files under `tests/**/fake_*.py` into the published Dapr package, the mock classes would prove useful for applications that are dependent on Dapr and have unittesting in place.
It is also possible to create an additional Python package (`dapr-tes

[2021-12-01 07:16] wimvc1 commented on #310
Wouldn't it make more sense to mock the result returned by the Dapr client?
Because now you actually want/will test the Dapr client itself.

Also, might be related to #217

[2021-12-05 06:54] guyzyl commented on #310
I want to test that my code behaves well in all of Dapr's scenarios.
It is possible to mock the results (and exceptions) returned by the Dapr client, but since a `FakeDaprSidecar` already exists I think it's a more elegant solution.

[2021-12-10 02:52] dmitsh opened #311 "update LICENSE file and license headers"
Per CNCF requirements, replacing MIT License with Apache.

[2021-12-10 05:07] dmitsh commented on #311
A PR for example: https://github.com/dapr/go-sdk/pull/232

[2021-12-13 16:59] #311 closed

[2021-12-14 17:25] amulyavarote commented on #308
/assign

[2021-12-16 08:31] chinzhiweiblank commented on #308
Good day all, I would like to take this on. I observe that the methods that need to be implemented are `GetConfigurationItem, GetConfigurationItems, SubscribeConfigurationItems, UnsubscribeConfigurationItems`.

[2021-12-16 17:19] wcs1only commented on #308
@amulyavarote has already begun implementation on this, but if the two of you would like to collaborate, or trade work I'll leave that up to you.

[2021-12-16 17:34] chinzhiweiblank commented on #308
No problem. I can take on this [issue ](https://github.com/dapr/python-sdk/issues/309) instead.

[2021-12-20 12:49] XavierGeerinck opened #358 "Documentation: Python Server info is under Python Client"
**Describe the issue**

https://docs.dapr.io/developing-applications/sdks/python/python-client/#publish--subscribe-to-messages lists Server information under Client making it unclear what is required in the code. Personally, I believe that DaprClient and DaprServer should be entirely isolated to make it clear.

**URL of the docs**

https://docs.dapr.io/developing-applications/sdks/python/python-cl

[2021-12-20 12:58] XavierGeerinck opened #316 "[Example] Azure Container App Demonstration"
## Describe the proposal

I would love to see an Azure Container App example as I am unable to get it to work myself 😅as far as I got, Container Apps seems to only support HTTP? While Python only supports gRPC?

For Container Apps a server thus has to start on HTTP and Dapr will register requests to it then, but we require the gRPC protocol in Python? @wcs1only can you help?

Jeff Hollan already p

[2021-12-21 04:03] li1234yun opened #317 "Publish event message with TTL metadata `key` is invalid"
## Expected Behavior

No exception.

## Actual Behavior

Raise ValueError Exception:

[code]

## Steps to Reproduce the Problem

[code]

## Note

*GRPC metadata keys must be lowcase.*

grpc/grpc#9863

## Doc bug

[Python ttl sample metadata key has upperCase](https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-message-ttl/#example)

[2021-12-22 04:59] lizzzcai commented on #252
hi @wcs1only ,
I am following the demo to run the actor but also failed, below is the error

[code]

[2021-12-28 11:59] psychomelet opened #320 "dapr timer do not support `ms` as timedelta"
currently the `convert_to_dapr_duration` function will trim timedelta to s

[2021-12-31 02:40] geekgao commented on #317
In my case:

[code]

[2022-01-03 20:21] wcs1only commented on #317
This appears to be a dupe of: #299

Metadata is an overloaded term between grpc metadata and dapr metadata in the python-sdk, unfortunately.
Use the publish_metadata field in v1.4.1. We had the exact same problem with `rawPayload`, it just looks like we missed updating the `ttlInSeconds` documentation. Docs PR for `ttlInSeconds`:
https://github.com/dapr/docs/pull/2072

In the mean time, refer to t

[2022-01-03 20:52] wcs1only commented on #310
This is true, although it is tightly coupled with the existing unit tests, as it was never intended to be public. (See https://github.com/dapr/python-sdk/blob/master/tests/clients/fake_dapr_server.py#L178 for example)

I'm not opposed to making a dapr-tests package with a fake client in it, but it would need to be generic enough to mock arbitrary responses, etc. You could achieve the same end by j

[2022-01-03 20:56] omid-verneek commented on #308
Thanks for taking care of this. @amulyavarote any update on the state of the configuration API implementation?

[2022-01-03 21:06] wcs1only commented on #316
python-sdk to daprd requests are indeed gRPC, but that should work without issue. Are you referring to having a GRPC vs HTTP ingress in your app? The python-sdk supports both scenarios, and we have extensions for flask and fastapi to that end:
https://github.com/dapr/python-sdk/tree/master/ext

Can you provide a little more detail about where you got stuck?

[2022-01-03 21:12] XavierGeerinck commented on #316
Adding to this from the chat as well, I am trying to subscribe to a topic and receiving events from it. The code in the Runtime throwing the error is this:

![image](https://user-images.githubusercontent.com/591282/147980863-2bda2606-2609-434d-959b-659fe7dfe8db.png)

[2022-01-03 21:21] XavierGeerinck commented on #316
Can be closed! Thanks a lot for the help!! https://github.com/dapr/python-sdk/blob/master/ext/dapr-ext-grpc/dapr/ext/grpc/app.py should sole it

[2022-01-03 21:25] wcs1only commented on #316
Thanks, feel free to reach out on discord if you run into anything else, or open a new issue.

[2022-01-03 21:25] #316 closed

[2022-01-04 02:15] wcs1only commented on #320
You are correct. Would you like to take a pass at implementing a more precise conversion?

[2022-01-04 17:35] wcs1only opened #324 "Deprecate gRPC metadata API field"
## Describe the proposal

In the early days of the dapr-python SDK we exposed gRPC metadata as an option parameter on each API call. This was before we had created the concept of Dapr metadata, so now we have a hugely confusing collision in terms, and in our own documentation: (See #299, #317). As I understand it, the only reason for exposing gRPC metadata was to allow the API token header. We've

[2022-01-05 00:11] paulyuk commented on #324
@wcs1only I'm happy to pick this up

[2022-01-05 16:47] #308 closed

[2022-01-10 12:58] XavierGeerinck opened #328 "Metadata (and queryString?) should use an Array Type instead of Tuple Type"
When working with metadata, the examples show a Tuple is required (as is the Type). However, when using the `for key, value in metadata` an array of tuples is required.

## Code reference:

https://github.com/dapr/python-sdk/blob/bba469a2ee46c38b6ab523bd3b575c9407438937/dapr/clients/http/dapr_invocation_http_client.py#L72

## Broken Example:

[code]

This will throw:

[code]

## Working Example:

[2022-01-11 04:30] paulyuk commented on #324
I reviewed the situation.  I agree with this.
- there is a real issue where this param gets used by mistake to pass Dapr metadata (e.g. TTL) and users report issues
- the main scenario for gRPC metadata is to path metadata for auth to be interpreted by the server.  In this case Dapr is the runtime and we cannot think of other metadata that needs to pass through.
-
I'm just reviewing this with a fe

[2022-01-11 07:49] XavierGeerinck opened #331 "Bug: Container Apps do not await initialization of the App when triggering a PubSub"
## Expected Behavior

When using a PubSub hook, I expect the app to finish starting first (i.e. the `__name__ == "main"` to finish loading)

## Actual Behavior

The App registers a PubSub Subscription hook and when it is serverless (e.g. through Container Apps) it will not await app loading and go straight to the hook providing a `None` exception due to the app not being initialized.

This could b

[2022-01-11 16:41] psychomelet opened #333 "actor not deactivated after `actor_idle_timeout`"
[code]

but actor never deactivated, I can't seem to find `actor_idle_timeout` config in the source code and is the config working, or how shall I debug the cause?

[2022-01-11 23:11] amulyavarote opened #334 "Add support for Configuration API (Subscribe Configuration API)"
## Describe the proposal

The Configuration API feature has been implemented in Dapr runtime: dapr/dapr#3606
It needs to be accessible via the SDK. This issue is to add method for subscribe configuration API.

[2022-01-12 14:18] renatolfc opened #336 "How do you reject work with the GRPC ext client?"
In the [dapr-ext-grpc](https://github.com/dapr/python-sdk/tree/master/ext/dapr-ext-grpc) [documentation page](https://docs.dapr.io/developing-applications/sdks/python/python-sdk-extensions/python-grpc/), we see the following example for subscribing to `TOPIC_A` on the `pubsub` publish subscribe component.

[code]

The document doesn't say how one `ACK`s a message. Are messages `ACK`ed when the dec

[2022-01-12 16:38] renatolfc commented on #336
After some local experimentation, it seems that:

 1. The avoid retried deliveries, the decorated function should return as soon as it determines it can act upon a received event (seems to be similar to returning a `200` using the HTTP API)
 2. If an exception is raised from the decorated function, dapr will try to deliver the message at a later time (Seems to be similar to returning something `!=

[2022-01-13 17:44] #324 closed

[2022-01-13 19:41] #320 closed

[2022-01-13 23:22] wcs1only commented on #336
One approach would be to allow the callback function to return a TopicEventResponse object.

[2022-01-13 23:29] wcs1only commented on #328
In python you need to specify a tuple of tuples like this:
[code]

The reason being that `(expression)` gets reduced to `expression` before anything else so (("hello", "world")) is reduced to ("hello", "world") which is a tuple of strings instead of a tuple of tuples.

Which example where you reading when you found this? I suspect this is just a typo in the documentation.

[2022-01-13 23:44] #317 closed

[2022-01-14 10:15] renatolfc commented on #336
As a user, I like that suggestion. Should I try contributing a PR?

[2022-01-14 16:12] renatolfc commented on #336
#336 is my attempt at solving this issue following @wcs1only's suggestion.

Please let me know if it needs improvements, as it'd be super nice for me to be able to intruct dapr to retry/reject messages using the grpc client.

[2022-01-14 17:23] #296 closed

[2022-01-18 08:39] XavierGeerinck opened #342 "HTTP: Input Binding Support"
Bindings should be supported on the HTTP Protocol, currently it seems that the FastAPI implementation does not have it? @wcs1only ?

[2022-01-18 09:18] XavierGeerinck commented on #331
Closed, solved by adding python def before main

[code]

[2022-01-18 09:18] #331 closed

[2022-01-20 17:51] XavierGeerinck opened #347 "HTTP: Output Binding Support"
## Expected Behavior

It appears that we cannot invoke Output Bindings through HTTP, making it hard to develop applications on Container Apps as it does not support gRPC yet. When trying to execute a Sidecar command I get the below

[code]

[2022-01-27 22:59] artursouza commented on #342
My understanding is that binding does not require the SDK for any functionality. We would just need an example for HTTP input binding - which does not even need the SDK to work, actually.

[2022-01-28 03:50] anhldbk opened #350 "Environment variables: Sync with the latest doc"
## Overview

- I made [the PR](https://github.com/dapr/docs/pull/1835) to correct [environment variables] (https://docs.dapr.io/reference/environment/).

- Our Python SDK has variables that inconsistent with the new documentation. See [python-sdk/dapr/conf/global_settings.py](https://github.com/dapr/python-sdk/blob/6d7d9400736d2c58901c7b49f666a159f987e789/dapr/conf/global_settings.py)

- IMHO, the

[2022-01-28 03:50] anhldbk commented on #350
@berndverst @wcs1only PTAL

[2022-01-28 08:45] XavierGeerinck commented on #342
Reiterating the discussion maybe from yesterday (maybe we should have more opinions on this - @paulyuk ?) but in my opinion you should be able to interact with Dapr through the SDK for ANYTHING you want. Which also means Bindings.

If bindings are not supported, I wouldn't go that far as to say that: "it does not require the SDK For any functionality".

Personally again, It's not because we suppor

[2022-02-03 14:35] tarrantro opened #353 "Postgresql return error when I using as output binding."
## Ask your question here
I found in the official document about how to use sdk to call output binding and try to integrate with my postgresql. However, it returns error even I tried to put test data into the invoke function. Error as below.

===
Error:
[code]

=======
My code:
[code]

[2022-02-05 00:22] sahibble commented on #324
Hi, I have been using the python SDK recently with Dapr version 1.5.1 and have noticed I am getting these metadata deprecation warnings despite not passing in a metadata argument to any of the DaprClient methods.

I have had a look and I believe that some of the methods such as invoke_binding have a default empty tuple argument being passed in.
[code]
However it checks to see if metadata is not No

[2022-02-07 20:27] sahibble opened #354 "Metadata deprecation warning despite not passing in the argument"
I have been using the python SDK recently with Dapr version 1.5.1 (and python version 3.9.6) and have noticed I am getting these metadata deprecation warnings despite not passing in a metadata argument to any of the DaprClient methods. I would expect there to be no warning if I leave out the metadata parameter. Behaviour may be after PR #335 and issue #324.

I have had a look and I believe that so

[2022-02-14 17:20] dmitsh opened #355 "state store query API: validate changes in the syntax of query JSON"
Per work items below, the syntax of the state query JSON has been slightly changed, to make it more intuitive:
https://github.com/dapr/components-contrib/issues/1490
https://github.com/dapr/components-contrib/pull/1491
https://github.com/dapr/components-contrib/pull/1500
https://github.com/dapr/docs/pull/2195

Please validate this change in the SDK, and fix if necessary.

[2022-02-15 01:36] berndverst commented on #353
Are you sure the Postgres component was initialized correctly? Doublecheck the connection string and look at the sidecar logs to ensure the component was initialized successfully.

Chances are the documentation for the Postgres Binding wrong, can you try changing `json.dumps(data)` to `json.dumps(data[metadata])` please?

That will probably do the trick.

[2022-02-15 01:42] berndverst commented on #347
@XavierGeerinck please file with Container Apps https://github.com/microsoft/azure-container-apps. The Dapr Client SDK exclusively uses gRPC as the mechanism to call the Dapr Sidecar. There are no plans to support HTTP as this is an internal implementation detail.

[2022-02-15 02:07] berndverst commented on #342
If you want a mechanism that is handled / managed by Dapr than that is gRPC in my opinion.

As a Flask or Fast API user I don't find Dapr registering routes without my knowledge to be reassuring.

Consider this:
By default the sidecar sends events for input bindings to `POST /bindingname`. But this is configurable to be any route you want (via the component metadata).

So naturally one must manual

[2022-02-15 02:14] berndverst commented on #342
So this just standard Fast API / Flask stuff.

[code]

[2022-02-15 10:53] XavierGeerinck commented on #342
Hi @berndverst ! Thanks a lot for clarifying your thoughts.

Adding on this, the use case scenario I typically take here is if we are developing a microservice that wants to just do one thing: "Process Orders".

Would a user then need to implement a full web server to accomplish this scenario?

As normally, when I am a user that wants to create this, I would follow these steps?
1. Install Pub Sub

[2022-02-16 02:54] berndverst commented on #353
Please note that the `metadata` attribute refers to generic gRPC metadata and must not be used. Instead only use `binding_metadata`.

If you have any problem with the component after sending the required values (per the documentation) as metadata (via `binding_metadata`) please open an issue in the component-contrib repo.

[2022-02-16 02:54] #353 closed

[2022-02-16 03:58] berndverst commented on #350
Is there a way we can also support the existing wrongly named environment variables? We should try to maintain that for backwards compatibility.

I'm fine with the enum approach.

[2022-02-24 17:21] paulyuk commented on #358
Hi @XavierGeerinck -

I agree as-is this is wrong, because we have a client page and we show server content, namely subscribing to pubsub in Flask or FastAPI.

My belief is that it's a good thing to keep client and server content together.  I also believe that users commonly think first about their scenario, in their language, and then want guidance how to use it and what implementation details ma

[2022-02-25 06:16] shubham1172 opened #359 "Fixing dependencies with bad license"
Main issue: https://github.com/dapr/dapr/issues/4236

Please refer to the parent issue to help with fixing existing issues with bad licenses.

This is required for Dapr to be compliant with CNCF guidelines, so please add this issue to the SDK planning accordingly.

[2022-03-03 00:07] #359 closed

[2022-03-03 17:40] #336 closed

[2022-03-10 00:35] #66 closed

[2022-03-10 00:35] #68 closed

[2022-03-10 00:35] #69 closed

[2022-03-10 00:35] #85 closed

[2022-03-10 00:35] #170 closed

[2022-03-10 00:35] #239 closed

[2022-03-10 00:35] #241 closed

[2022-03-11 09:20] shubham1172 commented on #359
@berndverst I have added more data to part 3 in #4236. Can you please update the workflow and add a badge? (We can reopen the issue till this is fixed).

[2022-03-11 21:13] #310 closed

[2022-03-11 22:03] i-am-shodan commented on #295
This is still important

[2022-03-15 03:59] shubham1172 commented on #359
![image](https://user-images.githubusercontent.com/22132944/158303597-4a653d85-e12a-4208-b1e4-bba6981bffd3.png)
Resolved as false positive. Actual license is MIT https://gitlab.com/pycqa/flake8/-/blob/master/LICENSE

[2022-03-16 13:44] shubham1172 opened #370 "PyLint the code"
## Describe the proposal

Add a linter like PyLint and enforce it in the code.

[2022-03-17 02:27] zyqCSL opened #371 "DaprClient max message size"
Hi,

Is DaprClient going to support larger max size than the default 4MB, or is there any workaround for reading larger message for now?

It seems that the DaprGrpcClient is only initialized with address and without other options in https://github.com/dapr/python-sdk/blob/master/dapr/clients/grpc/client.py#L101.

And below is the error message received when trying to read a large data from redis
[

[2022-03-19 16:55] #333 closed

[2022-03-19 23:13] #334 closed

[2022-03-22 00:02] #328 closed

[2022-03-24 06:51] #87 closed

[2022-03-24 14:52] berndverst commented on #370
@shubham1172 we already use a linter and enforce it.

We use `flake8` which you run via `tox -e flake8`.

[2022-03-24 14:52] #370 closed

[2022-03-26 06:03] berndverst commented on #371
@zyqCSL implemented it for you and will make sure it's in the upcoming 1.6 release (which comes out with Dapr 1.7)

[2022-03-28 11:44] mukundansundar commented on #309
not stale

[2022-03-28 22:38] #355 closed

[2022-03-28 22:55] #371 closed

[2022-03-28 23:19] #295 closed

[2022-03-28 23:21] #347 closed

[2022-03-29 14:49] berndverst commented on #254
@omidb yes you can definitely use any types you want for the actor interfaces and then implementation in your actor.

[2022-03-29 14:49] #254 closed

[2022-03-29 17:14] berndverst commented on #342
The recommendation is to use gRPC or set up your own Flask, Fast API server etc

[2022-03-29 17:19] #342 closed

[2022-03-31 19:32] #309 closed

[2022-04-07 16:17] halspang opened #383 "Add Support for Per Actor Type Configuration"
## Describe the proposal
The Dapr Runtime added support for per actor type configurations in 1.7. This support needs to be added to the SDKs.

The new configuration looks like:

[code]

Implementation can be varied per SDK but should output to the above JSON.

Docs: https://github.com/dapr/docs/pull/2334
Runtime: https://github.com/dapr/dapr/pull/4201

[2022-04-13 09:17] ms-jck opened #389 "SayHello method not implemented!"
## Ask your question here
server code：
![image](https://user-images.githubusercontent.com/40846237/163142949-6c98af73-bb53-4bb9-9baf-afdf348ab988.png)

client code:
![image](https://user-images.githubusercontent.com/40846237/163143052-0decc6aa-2660-4769-b8f3-f5c827e33b5d.png)

debug work:
![image](https://user-images.githubusercontent.com/40846237/163143237-2535eaf2-fc6b-4c85-9b00-31edad33d135.png

[2022-04-14 10:24] #389 closed

[2022-04-24 04:01] #350 closed

[2022-04-25 23:49] berndverst commented on #258
@daixiang0

I think this won't be as useful until the CLI can actually return the UDS path in an environment variable:
https://github.com/dapr/cli/issues/969

Once that is complete I am happy to add support for UDS (and it will be easier for us to test too).

Implementing UDS support isn't hard for gRPC, but is trickier for HTTP.

[2022-04-26 01:39] daixiang0 commented on #258
I am curious why it is trickier for HTTP, listen one UDS likes addr+port both for gRPC and HTTP, do you mean the limit of python-sdk itself.

[2022-04-28 20:49] ChrisFajardo-TRI opened #398 "DaprInvocationHttpClient should correctly populate headers in InvokeMethodResponse"
## Expected Behavior

DaprInvocationHttpClient should correctly populate headers in InvokeMethodResponse

## Actual Behavior

DaprInvocationHttpClient does not correctly populate headers in InvokeMethodResponse

## Steps to Reproduce the Problem

Environment:
Self-Hosted
Mac OS 12.3.1
CLI version: 1.7.0
Runtime version: 1.7.0
dapr python sdk: 1.6

Set up a dapr sidecar and HTTP service with a vali

[2022-04-29 15:51] yaron2 opened #399 "invoke_binding call shouldn't require the data parameter"

[2022-04-29 21:07] #399 closed

[2022-05-01 04:48] yairsimantov20 opened #401 "Passing APIRouter tags to the fast-api DaprActor"
## Describe the proposal
The routes from the DaprActor appears in the openapi documentation so i think the library should allow to pass the router tags or supply default tags in order to differentiate the Actor routes from the application routes
The new Actor should look like:
[code]
![image](https://user-images.githubusercontent.com/63305203/166132585-31b9fa5b-7b95-491b-abc5-c9b1bc001323.png)
__W

[2022-05-07 18:22] ryou90 commented on #255
ping

[2022-05-07 18:23] ryou90 commented on #255
/ping bot

[2022-05-09 00:45] #145 closed

[2022-05-09 00:45] #217 closed

[2022-05-10 19:52] berndverst commented on #255
You can specify the serializer when you register Actors. Please note that your custom serializers must extend `dapr.serializers.base.Serializer`. An example implementation is `dapr.serializers.json.DefaultJSONSerializer`

https://github.com/dapr/python-sdk/blob/master/dapr/actor/runtime/runtime.py#L44

[code]

Example (https://github.com/dapr/python-sdk/blob/master/examples/demo_actor/demo_actor/d

[2022-05-10 19:53] berndverst commented on #255
@omidb @ryou90 does this help?

[2022-05-10 19:55] berndverst commented on #255
I'm not sure where a good place to document this is. I don't want to add clutter to existing examples as most people won't need to change the serializers.

Hopefully for now this GitHub issue will be sufficient in search.

[2022-05-10 19:56] #255 closed

[2022-05-11 07:32] #398 closed

[2022-05-11 20:01] berndverst commented on #398
@ChrisFajardo-TRI I just released Python SDK 1.6.1 which cherry-picked the fix into the existing 1.6 release.

Please note:

The headers field is of type `MetadataDict` which really is a `Dict[List[Union[str, bytes]]`.

What this means is that when you access a header like `Content-Type` you will find that the value is a list. The first value will be the value you are looking for.

So...

[code]

[2022-05-13 21:09] yairsimantov20 commented on #401
I think the best solution will be a list with a default value of 'Actor'
and the code will look like
[code]

[2022-05-16 16:54] ChrisFajardo-TRI commented on #398
Thanks @berndverst
It works!

[2022-05-16 18:42] berndverst commented on #401
@yairsimantov20 are these tags used for anything other than generating documentation? I want to make sure this doesn't cause any behavioral changes for anyone.

[2022-05-16 23:11] yairsimantov20 commented on #401
Used only for the swagger docs. The swagger docs don't show anything else about it
https://fastapi.tiangolo.com/tutorial/bigger-applications/?h=tags#add-some-custom-tags-responses-and-dependencies
https://fastapi.tiangolo.com/tutorial/metadata/?h=tags#use-your-tags

[2022-05-17 01:55] #383 closed

[2022-05-18 01:21] berndverst commented on #401
@yairsimantov20 take a look at the linked PR. I also added router tags to the PubSub subscription.

I explicitly added the tags to the specific routes instead of the entire router. This is so the same Fast API instance can be used everywhere and we don't accidentally overwrite any tags of existing routes.

[2022-05-18 14:56] yairsimantov20 commented on #401
@berndverst
I've commented on your pull request
if there is something you don't agree with then please let me know (Its my first pull request in an open source)

[2022-05-20 02:24] #401 closed

[2022-05-20 06:38] jrehnen opened #405 "Incomplete transfer of data from context to CloudEvent"
**Describe the issue**
https://github.com/dapr/python-sdk/blob/e89ac58f531f05ad4b47d46c1ccfcd4682c94573/ext/dapr-ext-grpc/dapr/ext/grpc/_servicier.py#L187-L194
Not all metadata is copied from context to CloudEvent.
This prevents you from accessing potentially relevant information the original message would've given.

**Expected Behaviour**
All data from context should be accessible in CloudEvent.

[2022-05-31 23:46] berndverst commented on #405
Could you provide an example I can use to implement this?

How can I force the processing of an event with metadata that would trigger this code path, and how would you usually verify that the cloud event has the expected data? I'm not familiar with cloud events myself.

[2022-06-01 05:43] pravinpushkar opened #410 "Provide a support for Dapr sidecar Metadata API"
## Expected Behavior

SDK should provide a support for Sidecar Metadata APIs (HTTP and gRPC)-
1. Get Metadata
2. Set Metadata

## Actual Behavior

It does not support Metadata APIs

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: **ADD** Support for Sidecar Metadata APIs

[2022-06-01 18:48] amulyavarote opened #411 "Change configuration API response to dictionary"
## Describe the proposal

Change the configuration API response to handle dictionary.
Main issue in dapr/dapr in pasted here.
https://github.com/dapr/dapr/issues/4556

[2022-06-01 19:37] amulyavarote opened #412 "Add distributed lock API support"
## Describe the proposal

Add methods for distributed lock API.

Main Issue: https://github.com/dapr/dapr/issues/3549

[2022-06-02 11:34] jrehnen commented on #405
An example would be CloudEvents generated by Debezium, which follow a structure as described [here](https://debezium.io/documentation/reference/stable/integrations/cloudevents.html#_example_event_format).

As you can see, the structure has more fields than just `type`, `id`, `source`, `data` and `content_type`. These fields however are not included in the CloudEvent received by the consumer. I spe

[2022-06-08 04:51] pravinpushkar opened #414 "Add implementation for Unsubscribe configuration API"
## Expected Behavior

Refer corresponding PR is runtime - https://github.com/dapr/dapr/pull/4130

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-06-30 15:19] perymerdeka opened #421 "Import "demo_actor" could not be resolved"
## Expected Behavior

successfully import DemoActor class from module demo_actor

## Actual Behavior

Import "demo_actor" could not be resolved on vscode

I tried to import `DemoActor` from `demo_actor` module like
`from demo_actor import DemoActor`

but i got this error

Import "demo_actor" could not be resolved

I use from vscode and I already Installed dapr and flask-dapr on my virtual environm

[2022-06-30 20:37] berndverst commented on #421
Demo Actor is the example -- this is not part of the SDK. See https://github.com/dapr/python-sdk/tree/master/examples/demo_actor/demo_actor

The code must be run from the folder that contains the `demo_actor.py`

Please see the readme here https://github.com/dapr/python-sdk/blob/master/examples/demo_actor/README.md

[2022-06-30 20:40] berndverst commented on #405
@jrehnen after much investigation I have determined that additional Cloud Event metadata (such as these debezium fields) are not currently stored by most Dapr PubSub components.

I will be updating all PubSub components to do so for the 1.9 release and will add Python SDK support at that time. While I already have a Python SDK implementation which I believe to be working, I do not actually have a

[2022-06-30 20:46] berndverst commented on #405
`ext.grpc._servicier.py` in `_CallbackServicer`:

`def OnTopicEvent(self, request: TopicEventRequest, context: grpc.ServicerContext):`

The missing metadata should be returned via gRPC metadata. Cloud Events treats non-standard fields as headers and in gRPC that means metadata.

This means this data should be available via one of the following:

[code]

However, in my testing the data the headers

[2022-07-05 21:10] berndverst commented on #412
@tmacam this might be a good issue for you to tackle to learn about the Python SDK

[2022-07-05 21:13] berndverst commented on #412
This is a gRPC - the code will likely go here:
https://github.com/dapr/python-sdk/blob/master/dapr/clients/grpc/client.py

Unit tests are in `/tests`

`Examples` folder acts as both example and integration tests (see `Readme.md` raw source for how this is done in each example)

[2022-07-06 04:41] berndverst commented on #405
@jrehnen good news - if you are sending a cloud event to Dapr directly (with data content type "application/cloudevents+json") we are actually storing all custom attributes.

However the proto for the TopicEventRequest has no way for us to pass these additional attributes.

I'll add support for the cloud event extension attributes to the proto, which then will enable you to access them in the Pyth

[2022-07-06 06:16] berndverst commented on #405
Confirmed this is working with HTTP (`flask_dapr` or `dapr-ext-fastapi` extensions or any other HTTP method):

[code]

Run the subscriber app:

[code]

Now publish the cloud event - note the `application/cloudevents+json` content type. See the custom property `SOMECUSTOMPROPERTY` - this could be the debezium properties you are interested in.

[code]

[code]

@jrehnen my recommendation for now is t

[2022-07-19 22:00] berndverst commented on #410
cc @tmacam also take a look at this

[2022-07-27 00:02] tmacam opened #433 "Merge conflict marker left on demo_actor/README.md"
File `examples/demo_actor/README.md` has a merge-conflict markers left on it:

https://github.com/dapr/python-sdk/blob/c994ca5330b0b34bf448fcd9632056a501c56de0/examples/demo_actor/README.md?plain=1#L140-L144

[2022-07-29 17:25] #433 closed

[2022-08-01 10:15] ngiind opened #436 "PubSub disable_topic_validation=True breaks multiple subscriptions"
Adding disable_topic_validation=True to pusub subscription raises ValueError when adding multiple subscriptions. Looks like the issue is that the topic map key in this case will only use the pubsub identifier (dapr\ext\grpc\_servicier.py):
[code]

[2022-08-01 11:01] ngiind opened #437 "PubSub topic used is not available in subscribing topic method"
When subscribing using wildcards ("+" or "#" relevant for MQTT), the actual topic is not known by the subscribing topic method. This could be useful in many cases, for instance when embedding a unique id in the topic to enforce authorization in MQTT.

Could this be added to the callback somehow?

[2022-08-01 11:57] ngiind commented on #437
Could the source or subject attributes of the cloudevent be used?

[2022-08-03 22:20] berndverst commented on #258
@daixiang0 because the Python `requests` library - the most commonly used HTTP client - does not have support for UDS. I am against replacing this library.

I found the following https://pypi.org/project/requests-unixsocket/ but I do not trust this package so far.

Perhaps monkeypatching as described here https://github.com/msabramo/requests-unixsocket might be possible -- in this case I prefer us

[2022-08-03 22:24] tmacam commented on #258
/assign

[2022-08-03 22:24] tmacam commented on #410
/assign

[2022-08-04 00:13] #412 closed

[2022-08-04 00:29] berndverst commented on #436
This is also how the Go SDK implementation works today. I am hesitant to change this behavior. See https://github.com/dapr/go-sdk/pull/271

Perhaps it is worth to leave a comment here again instead https://github.com/dapr/dapr/issues/4461 since this is the main tracking issue.

We need consensus on how to handle this across Go SDK and Python SDK.

[2022-08-04 00:39] berndverst commented on #437
The solution for this would be for this to be provided via the cloud event or GRPC Metadata. That however requires support for this in the Dapr Runtime / sidecar (dapr/dapr repo) first.

[2022-08-04 07:13] ngiind commented on #437
It could be added to the gloud event from the python SDK, without ant updates to the runtime, no? From the request.topic property?
[code]
But it is maybe better provided through the runtime. E.g. by providing the topic in the request.source property?

[2022-08-04 07:16] ngiind commented on #436
I agree that the Go SDK and Python SDK should work the same way. I will add a coment to the main tracking issue.

[2022-08-04 07:20] berndverst commented on #437
It's not clear to me whether the source or topic will be set in the case where a cloud event was not published by Dapr itself.

[2022-08-04 07:24] berndverst commented on #437
@ngiind the source attribute might be used for something else if the cloud event didn't originate from Dapr. Perhaps we could add this as a custom cloud event extension attribute.

[2022-08-04 11:21] ngiind commented on #437
@berndverst when is the source not Dapr?

Maybe the topic does not belong in the cloud event, and should instead be a separate parameter for the TopicSubscribeCallable? The MQTT Cloud events binding spec does not seem to include the topic in the event (https://github.com/cloudevents/spec/blob/main/cloudevents/bindings/mqtt-protocol-binding.md).

[2022-08-09 23:54] tmacam opened #440 "SDK code doesn't reflect renaming on UnlockResponse.Status"
PR dapr/dapr#4989 (issue dapr/dapr#4988) updated the names of some enums in `UnlockResponse.Status` ProtoBuff definition:

* `LOCK_UNEXIST` became `LOCK_DOES_NOT_EXIST `
* `LOCK_BELONG_TO_OTHERS`  became `LOCK_BELONGS_TO_OTHERS`

Code in clients SDKs needs to be updated to account for this modification.

This modification should not cause any change in over-the-wire encoding but will cause problem

[2022-08-10 18:59] tmacam commented on #440
/assign

[2022-08-11 16:10] bbrandt opened #443 "Error in configuration example when run from a clean devcontainer"
## Expected Behavior

Followed steps here:
https://github.com/dapr/python-sdk#developing

Except that after step 1 I used `code .` to open the checkout in VSCode and then when prompted, opened in a devcontainer before proceeding to step 2.

When I ran step 7, `tox -e examples`, I expected a clean example to pass as did all the prior steps.

## Actual Behavior
Instead I see the following error:
[co

[2022-08-11 22:52] #440 closed

[2022-08-12 21:37] berndverst commented on #443
@bbrandt working as intended.

You first need to run `dapr init`, then try again. We intentionally don't ship Dapr installed (just the CLI itself) so that we don't provide outdated Dapr versions.

[2022-08-18 22:15] tmacam opened #445 "Update Metadata API example code to check for all fields in response object."
## Expected Behavior

The current GRPC implementation of the [Metadata API] in dapr 1.18 returns a response missing some fields.

Tracking issues in dapr/dapr:
1. dapr/dapr#5051,
2. dapr/dapr#5038 and
3. dapr/dapr#5018.

In the current stable version of Dapr, only `extended_metadata` is returned correctly. This should be addressed in dapr/dapr itself but, once it is, we need to update our example

[2022-08-21 06:14] 117503445 opened #448 "wrong comment in wait method"
## Expected Behavior

The argument to DaprGrpcClient.wait is in seconds.

## Actual Behavior

The example given in the comments is `d.wait(1000) # waits for 1 second`, in milliseconds now.

Although this does not create a direct bug, this example will confuse the user, making it likely that the user will pass in parameters in milliseconds.

## Release Note

RELEASE NOTE: **FIX** Wrong comment in w

[2022-08-23 21:51] berndverst commented on #410
Please add mechanical markdown tests. I will merge this once Dapr/Dapr 1.9 RC.1 is out.

[2022-08-23 22:41] #443 closed

[2022-08-23 22:50] #448 closed

[2022-08-23 22:52] berndverst commented on #411
Depends on https://github.com/dapr/dapr/pull/4695 which is not likely to be released in dapr/dapr v1.9

[2022-08-30 22:07] #410 closed

[2022-08-31 15:50] alecor191 opened #451 "Ability to receive messages >4MB when subscribing to pubsub"
## Summary

I have a scenario where a Python app subscribes to Dapr pubsub using `dapr.ext.grpc`'s `App`. When receiving messages >4MB I see the following error in the Dapr sidecar:

[code]

I found that the ability to specify max messages size was added to `DaprClient` in #371.  Is there a way to increase the max message size to be able to receive messages >4MB with `App` subscriptions?

[2022-09-06 23:53] amulyavarote opened #452 "Exception from Actor's method is not surfaced to the caller"
## Describe the proposal

#Expected Behavior

Exception's error message (not stacktrace) from Actor's method is surfaced to the caller.
Add details like exception method, line number, exception type and generate an UUID to match the exceptions both on callee as well as caller side.

[2022-09-11 10:52] c-thiel opened #454 "Bug: GRPC App requires app_port to be specified in run method"
The GRPC App currently requires an explicit app_port as the default is missing.
The type already correctly indicates that the app_port should be optional.

https://github.com/dapr/python-sdk/blob/2b15127dffb389c50607db491f70e649cb5048ad/ext/dapr-ext-grpc/dapr/ext/grpc/app.py#L57

## Steps to Reproduce the Problem

[code]

## Release Note

# RELEASE NOTE:

[2022-09-12 18:15] berndverst commented on #451
This question belongs in the dapr/dapr (the runtime repo), or better yet our Discord.

Take a look at the CLI flag or equivalent Kubernetes annotation got HTTP request size. https://docs.dapr.io/reference/cli/dapr-run/

"--dapr-http-max-request-size" default is 4, for 4MB

[2022-09-13 14:21] alecor191 commented on #451
Thanks @berndverst for your reply. I may be missing something, so here some more context:

- the mentioned HTTP request size setting didn't make a difference (tried it before opening the issue); I thought that's expected as the setting seems to be about HTTP configuration whereas the described issue is about gRPC?
- the reason I raised this in the Python SDK is that there was a similar issue menti

[2022-09-13 15:24] berndverst commented on #451
Ah got it. You are right, let me see how the GRPC server (which the sidecar calls into) in dapr.ext.grpc can be configured in a similar way.

In the Dapr runtime those HTTP flags are the way you control message and header size even for GRPC. Probably because GRPC uses HTTP2.

[2022-09-13 16:00] amulyavarote commented on #452
Example of exception details:
Dapr.Actors.ActorMethodInvocationException: Remote Actor Method Exception, DETAILS: Exception: NotImplementedException, Method Name: ExceptionExample, Line Number: 14, Exception uuid: d291a006-84d5-42c4-b39e-d6300e9ac38b

[2022-09-14 08:22] Trolldemorted opened #456 "Mypy stubs"
You are using mypy already, could you publish mypy stubs for downstream projects?

[2022-09-16 20:11] berndverst commented on #456
I don't know what that involves. Can you link to some docs or make a PR @Trolldemorted ?

[2022-09-16 20:14] berndverst commented on #411
Was addressed here, so this can make it into 1.8 (with Dapr 1.9 release). https://github.com/dapr/dapr/pull/5083

[2022-09-19 22:16] berndverst commented on #456
@Trolldemorted since you need the source directory to see the stub files anyway, I think it makes more sense if you generate these yourself. You can always check out a release branch or release tag before doing so.

[code]

[2022-09-19 22:43] berndverst commented on #358
Pointing out some outdated information here @XavierGeerinck:

We have convenience PubSub route registration and mapping in FastAPI and Flask via a decorator, same as in the gRPC library.

Additionally, the input binding decorator concept does not apply to gRPC. For input bindings routes are not defined in the application code. However, gRPC does not support custom routes - so the built in gRPC ser

[2022-09-19 22:47] berndverst commented on #405
This will not make the next release as the required work isn't done in the Dapr runtime.

[2022-09-19 23:19] berndverst commented on #451
@alecor191 this will be in the next version of the SDK due for release in just a couple of weeks.

You may already be able to use this functionality in prior SDK releases via the `**kwargs` of the constructor.

[code]

Going forward of course there is a convenient named parameter in the constructor, `max_grpc_message_length` which provides the required options as seen above.

[2022-09-20 00:05] berndverst commented on #437
I see what you are requesting now. Yes we could just get the topic from the request itself. We could set it as a cloud event extension. How about that?

If I change the method signature for the topic callback I would introduce a breaking change. Unfortunately the topic functions take in an instance of CloudEvent from the official Cloud Event SDK. None of these fields in the Python Cloud Events SDK

[2022-09-20 00:08] berndverst commented on #452
@amulyavarote more information is needed. Steps to reproduce, API method that is returning an error with insufficient information etc.

Right now this issue is not actionable.

[2022-09-20 00:09] #454 closed

[2022-09-20 03:22] alecor191 commented on #451
Awesome! Thanks a lot @berndverst!

[2022-09-20 06:37] #451 closed

[2022-09-22 10:23] ngiind commented on #437
@berndverst: I think this seems like an ok solution, considering that we need to be backwards-compatible. This should be an issue in the other SDKs as well, no? Maybe we need to align?

[2022-09-22 15:07] timgabrhel opened #465 "Unable to specify response body and 500 status code for python gRPC service"
## In what area(s)?

/area runtime

## What version of Dapr?

python dapr-ext-grpc 1.7

## Expected Behavior

When an exception occurs in my code grpc service, I want the result to be an HTTP 500 exception with the json message box

## Actual Behavior

If I set the content type to `text/plain`, then the error message is returned, but the HTTP status code is 200
If I set the content type to `applic

[2022-09-26 04:37] mukundansundar opened #464 "Bulk Pubsub implementation in SDK"
## Describe the proposal

Add SDK support for the new bulk Pub/Sub API runtime issue: https://github.com/dapr/dapr/issues/2218

[2022-09-26 10:03] oyjGit opened #466 "How to set deadline or timeout when invoke_method by DaprClient"
## Ask your question here
I can't find a Optional to set deadline or timeout when call invoke_method, please help me

[2022-09-26 19:29] berndverst commented on #466
Set the following environment variable

`DAPR_HTTP_TIMEOUT_SECONDS` -- default value is `60`

Actor clients use HTTP and this is also what the `invoke_method` uses. The HTTP client is initialized with the timeout value set in the `DAPR_HTTP_TIMEOUT_SECONDS` environment variable if present.

https://github.com/dapr/python-sdk/blob/21457ee5d1aeccc654c67cb6607f080a7286252e/dapr/conf/global_settings.p

[2022-09-26 19:30] #456 closed

[2022-09-26 19:31] berndverst commented on #452
@amulyavarote since I haven't received more info from you and this issue isn't actionable I will close it for now.

[2022-09-26 19:31] #452 closed

[2022-09-26 19:33] #411 closed

[2022-09-26 19:42] berndverst commented on #465
What are you actually invoking @timgabrhel ? This sound to me that the server is returning a successful gRPC response whose content is actually an error. The `dapr-` headers indicate that these are headers from the response the Dapr sidecar got calling the remote service.

This is actually how Dapr Service Invocation works since the request to the Dapr Sidecar succeeded, but the Dapr sidecar got a

[2022-09-26 19:58] timgabrhel commented on #465
@berndverst You are spot on. Unfortunately it was a local error due to a null value coming in mistakenly on the request object, so the error message now makes sense, though it wasn't obvious until I could locate a full stack trace from AKS.

[2022-09-26 19:58] #465 closed

[2022-09-26 21:25] amulyavarote commented on #452
Steps to reproduce this error.
1. Go to the file and line where the actor method is called.
2. And modify actor method to throw "NotImplementedError" to simulate method not implemented exception.
```raise NotImplementedError("Method not implemented exception")```
You should see the below trace.

Existing behavior if the "NotImplementedError" exception is thrown.

[code]

Expected behavior should h

[2022-09-27 06:09] oyjGit commented on #466
It's have no effect invoke_methon via grpc, and how to set deadline difference each call invoke_method

[2022-09-27 06:14] berndverst commented on #466
Please provide more detail. Your issue report has absolutely no information so I cannot help you.

[2022-09-27 06:51] oyjGit commented on #466
![image](https://user-images.githubusercontent.com/12670712/192452808-31eab2e3-4c10-4ff3-8be6-551693ad2718.png)

![image](https://user-images.githubusercontent.com/12670712/192453134-57e050e6-b9f3-4957-87c6-92d72aadb719.png)

server side block about 30 seconds, DAPR_HTTP_TIMEOUT_SECONDS not work on my computer. Invoke "query" takes 30 seconds, I can't got DEADLINE_EXCEEDED code

[2022-09-30 08:16] AlexanderLanin opened #470 "Relax protobuf version requirement"
## Describe the proposal
Currently dapr package requires protobuf == 4.21.6, which is very very specific and makes life difficult when handling multiple packages which all require different versions.

I guess/hope this can be relaxed?!
I don't know to which extend, e.g.
* \>=4 <5
* \>=3 <5
* \>= 4.21 <4.22

[2022-10-04 21:24] #445 closed

[2022-10-04 23:32] berndverst commented on #470
I'll have to make it 4.21 minimum. Will update this.

https://developers.google.com/protocol-buffers/docs/news/2022-05-06

[2022-10-04 23:50] berndverst commented on #437
@ngiind yes we probably need to agree on the name / prefix. We can make this change in the `dapr.ext.grpc` library once we have decided what to do and do an off-cycle release of that library.

[2022-10-05 00:28] #466 closed

[2022-10-05 00:28] #470 closed

[2022-10-05 00:29] berndverst commented on #466
Added a `timeout` param (integer in seconds) to the `invoke_method` method.

[2022-10-05 06:57] ngiind commented on #437
Sounds like a good plan @berndverst. How do we synchronize with the other SDKs? I'm a bit of a neebie, sorry :).

[2022-10-05 07:18] berndverst commented on #437
It will be best for us to raise a new proposal in the dapr/dapr repo. Though this is also something the "SIG SDK spec" working group should handle. The dapr/dapr issue is probably a good start and it can be routed from there accordingly.

[2022-10-05 08:32] ngiind commented on #437
Ok. Thanks! Shall I raise the issue in dapr/dapr?

[2022-10-06 11:36] Trolldemorted commented on #456
Sorry for the long delay.

Generating stubs myself is not really a viable solution, since I'd have to redo that everytime we update the dapr bindings. However, if your type hints are correct, all you should need to do is add an empty `py.typed` file to your package as described in [PEP 561](https://peps.python.org/pep-0561/#packaging-type-information).

It is hacktoberfest anyway, I'll see whether

[2022-10-06 14:59] berndverst commented on #456
Sounds good! Happy to accept a PR for this!

[2022-10-06 21:17] Trolldemorted commented on #456
#475 is awaiting a review, looks like it works fine

[2022-10-09 09:00] oyjGit opened #477 "Can't invoke without service machine IP via service name on LAN"
![image](https://user-images.githubusercontent.com/12670712/194747479-ecc8953b-e812-4997-92f4-2d17c2d53e85.png)
This is localhost invocation. Server side running on linux(Ubuntu18.04)

![image](https://user-images.githubusercontent.com/12670712/194747603-0d2ca8b8-1264-41ca-81df-97614663f8fd.png)
This is LAN invocation. Client side running on Win10. It's seems mDNS not works, and how to resolve it.

[2022-10-10 18:24] berndverst commented on #477
More info on service invocation https://docs.dapr.io/developing-applications/building-blocks/service-invocation/service-invocation-overview/

[2022-10-11 02:21] youngbupark opened #478 "ModuleNotFoundError: No module named 'dapr.version' (dapr-python 1.8.0)"
## Expected Behavior

No error!

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. Install the latest dapr pkg (1.8.0
2. Run state_store.py sample

## Release Note

RELEASE NOTE:

[2022-10-12 08:44] espenairmine commented on #478
This breaks our code when upgrading to 1.8.0

[2022-10-12 14:14] DarqueWarrior commented on #478
I saw the same thing last night. I had to pin my version to 1.6.0 to get back up and running.

[2022-10-12 16:17] berndverst commented on #478
Thanks not sure why this happened but will fix!

[2022-10-12 16:20] berndverst commented on #478
Why not pin the latest 1.7.X?

[2022-10-12 16:28] youngbupark commented on #478
1.7.x works too. I pinned 1.7.0 for my app.

[2022-10-12 18:37] berndverst commented on #478
I have yanked version 1.8.0 and will release 1.8.1 momentarily.

[2022-10-12 20:17] berndverst commented on #478
Released 1.8.1 with the fix to ensure everyone pulls in the correct version. 1.8.0 is yanked and can no longer be installed.

Fix is here: https://github.com/dapr/python-sdk/commit/8f64c3ea259a1dd713308706e4a46f7b27b3e97b

[2022-10-12 20:20] berndverst commented on #478
Please note that the Metadata API and Configuration API depend in `>=1.8.0` depend on proto changes that are only in Dapr Runtime 1.9.0. So you cannot use those Alpha APIs unless you upgrade to the new runtime release as well.

[2022-10-12 20:22] berndverst commented on #478
@espenairmine @ngiind @DarqueWarrior @youngbupark fixed now. Sorry about that!

[2022-10-13 15:59] berndverst commented on #456
@Trolldemorted done!

[2022-10-13 16:49] Trolldemorted commented on #456
I am sorry but I have to bother you again - you have labeled the issue, not the PR 😇

[2022-10-13 16:57] berndverst commented on #456
@Trolldemorted :D my bad.

[2022-10-14 13:46] omidb opened #479 "relaxing grpcio version"
Because of this issue: https://github.com/grpc/grpc/issues/28513 many libraries have fixed the version to 1.41.0 https://github.com/triton-inference-server/client/blob/main/src/python/library/requirements/requirements_grpc.txt .
Right now there is no way to find a common grpcio version.
Maybe we can relax this constraint a little bit more.

[2022-10-14 18:03] berndverst commented on #479
@omidb I published version `1.8.2` just now which relaxes the requirements to:
[code]

I specifically verified this build is compatible with the latest triton inferencing server client.

[2022-10-14 18:03] #479 closed

[2022-10-15 20:27] berndverst commented on #90
Proposal:

Create a copy of the Dapr gRPC clients (`dapr.clients.grpc`) within a new package `dapr.aio.clients` and migrate these to `grpc.aio`.

Also create matching unit tests.

Ensure existing integration tests pass when they are updated to import `from dapr.aio.clients improt DaprClient` instead. This can be verified with `tox -e examples`

[2022-10-17 16:02] DarqueWarrior commented on #478
I was in a hurry building my demo for Ignite so I pinned to the last known working version is all.

[2022-10-18 21:41] tmacam commented on #90
Something to consider is how we (re-)organize the tutorials, so we have the same mechanism of tutorials acting as integration tests for the SDK but covering the async API.

[2022-10-18 21:42] berndverst commented on #90
Previous work in progress that could be used for reference but likely needs changing: https://github.com/berndverst/python-sdk/tree/asyncgrpc

These unit tests from the GRPC library might be helpful:
https://github.com/grpc/grpc/tree/master/src/python/grpcio_tests/tests_aio/unit

[2022-10-27 20:05] inirudebwoy opened #483 "405 returned from subscriber"
## Expected Behavior

I'd expect to receive 200 if there is no error in subscriber execution. Even in the case if code does not access the event data. For `'Flask` that would mean that code will not touch `request.json`. The execution should not fail, and other consecutive messages should work as well.

## Actual Behavior

Currently the code returns 405 but after second message. First message gets

[2022-10-28 19:37] inirudebwoy opened #485 "Content based routing with integers"
Hi 👋 ,

I'm looking for some help in understanding what I'm doing wrong. I have found a strange behaviour when using content based routing and integers. There is no example in quickstarts but the docs have one https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-route-messages/#example-expressions
However it does not work properly.

Here is an example of matching rule I have c

[2022-11-10 19:39] artursouza opened #487 "Change tracing example to use OpenTelemetry SDK"
## Describe the proposal

Current example for tracing uses OpenCensus SDK: https://github.com/dapr/python-sdk/blob/master/examples/w3c-tracing/invoke-caller.py

OpenTelemetry is the new industry standard. We should use that instead: https://opentelemetry.io/docs/instrumentation/python/cookbook/#manually-setting-span-context

[2022-11-10 19:57] berndverst commented on #487
https://opentelemetry-python.readthedocs.io/en/latest/exporter/zipkin/zipkin.html

Probably need:
[code]

But couldn't immediately figure out how to set up the same sampling etc

Would be great if someone with OpenTelemetry experience could take a look here.

[2022-11-14 06:09] sarsharma opened #488 "Change `unsubscribe_configuration` method to accept List[str]"
## Describe the proposal

The `unsubscribe_configuration` method currently accepts a single key to unsubscribe to
https://github.com/dapr/python-sdk/blob/3d9b155af142fd531be95ceb0e2fccd237e630c2/dapr/clients/grpc/client.py#L976-L980

Can it be changed to accept a list of strings to unsubscribe multiple config items in a single call

Also, the `get_configuration` method accepts a string of keys ins

[2022-11-14 06:11] sarsharma commented on #488
cc : @akhilac1

[2022-11-28 18:55] berndverst commented on #488
Sure, but FYI, when you unsubscribe from one key it closes the stream and unsubscribes from all anyway. That's how the Dapr runtime works. @akhilac1 @sarsharma

[2022-11-28 19:24] berndverst commented on #487
Using this guide https://logz.io/blog/python-opentelemetry-auto-instrumentation/#run

Combined with the following config (to use the zipkin exporter) helps to get started with a local dev setup:

[code]